<div class="fabrication-item">
    <div class="fabrication-item__title">
        <p>@@title</p>
    </div>
    <div class="fabrication-item__img">
        <img src="@@url/images/@@link-img" alt="@@title">
    </div>
</div>