<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-left">
                <img class="logo-img" src="@@url/assets/images/logo.png" alt="logo" />
            </div>
            <div class="footer-right">
                <div class="row">
                    <div class="col-12 info-footer mb-4">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 address-footer">
                                <ul>
                                    <li class="title">HCMC HEAD OFFICE</li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span> HCMC Head Office: 148 Phan Xich Long St., Ward 7, Phu Nhuan Dist., HCMC </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone-alt"></i>
                                        <span>Tel: (84-28) 3 5172 509 / 11 - 3 5172 601</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-fax"></i>
                                        <span>Fax: (84-28) 3 5172 509 / 11 - 3 5172 601</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 address-footer">
                                <ul>
                                    <li class="title text-uppercase">HA NOI Worldwide Offices</li>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span> B22 Trung Hoa, Nhan Chinh, Urban Area, Thanh Xuan, Ha Noi </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone-alt"></i>
                                        <span>Tel: (84-24) 3 9412 176 / 77</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-fax"></i>
                                        <span>Fax: (84-24) 3 9412 178</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 flag-footer">
                        <h4 class="title">OVERSEA OFFICE</h4>
                        <ul>
                            <li class="flag-logo-wrap boder-0">
                                <div class="flag-logo">                                    
                                    <div class="dropup">
                                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="@@url/assets/images/logo-myanmar.png" alt="logo-flag" />
                                            <span class="text-white">Myanmar</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <div class="address-footer">
                                                <ul>
                                                    <li class="title">MYANMAR OFFICE</li>
                                                    <li>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <span>No.37 B, Thiri Mingalar Street, Kamayut Township, Yangon, Myanmar</span>
                                                    </li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flag-logo">                                    
                                    <div class="dropup">
                                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="@@url/assets/images/logo-indonesia.png" alt="logo-flag" />
                                            <span class="text-white">Indonesia</span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <div class="address-footer">
                                                <ul>
                                                    <li class="title">INDONESIA OFFICE</li>
                                                    <li>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <span> Alamanda Tower Lantai 31 Unit E, Jalan TB Simatupang Kav. 23 - 24 Cilandak Barat, Jakarta Selatan 12430</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flag-logo">
                                    <div class="dropup">
                                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="@@url/assets/images/logo-combodia.png" alt="logo-flag" />
                                            <span class="text-white">Cambodia</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="address-footer">
                                                <ul>
                                                    <li class="title text-uppercase">CAMBODIA OFFICE</li>
                                                    <li>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <span>G16 Gold Street of Garden City 307 - 309, Street 271 Tumnup Toeuk quater, Chamkar Mon Dist., Phnom Penh</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-phone-alt"></i>
                                                        <span>Tel: (+855) 23 21 54 03 / 04</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-fax"></i>
                                                        <span>Fax: (+855) 23 21 54 1</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flag-logo">                                    
                                    <div class="dropup">
                                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="@@url/assets/images/logo-thailand.png" alt="logo-flag" />
                                            <span class="text-white">Thailand</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="address-footer">
                                                <ul>
                                                    <li class="title">THAILAND OFFICE</li>
                                                    <li>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <span>BB Building - Floor 8 - 54 Sukhumvit 21 Road, Klongtoey Nua, Wattana, Bangkok 10110</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-phone-alt"></i>
                                                        <span>Tel: (+662) 664 4493</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-fax"></i>
                                                        <span>Fax: (+662) 664 4492</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flag-logo">
                                    <div class="dropup">
                                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="@@url/assets/images/logo-philippines.png" alt="logo-flag" />
                                            <span class="text-white">Philippines</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <div class="address-footer">
                                                <ul>
                                                    <li class="title">PHILIPPINES OFFICE</li>
                                                    <li>
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <span> 14th Floor, Unit 1415 AIC Burgundy Empire Tower, ADB Avenue Corner, Garnet Road, Ortigas Center, Pasig City, Philippines</span>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-phone-alt"></i>
                                                        <span>Tel: (632) 470-7633</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="col-12 copyright">
    <span>Copyright © 2014 BMB Steel. All Rights Reserved. Design by Web Solution</span>
</div>
<!-- End Footer -->
<script src="@@url/assets/js/jquery-3.2.1.min.js"></script>
<script src="@@url/assets/js/bootstrap.min.js"></script>
<script src="@@url/assets/js/swiper.min.js"></script>
<script src="@@url/assets/js/slick.min.js"></script>
<script src="@@url/assets/js/jquery.fancybox.min.js"></script>
<script src="@@url/assets/js/main.js"></script>
</body>

</html>