<header class="header">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar_wrap">
                <div class="left">
                    <div class="top-bar_address">
                        <i class="fas fa-map-marker-alt"></i><span class="info-head">HCMC Head Office: 148 Phan Xich
                            Long St., Ward 7, Phu Nhuan Dist., HCMC</span>
                    </div>
                </div>
                <div class="right">
                    <div class="top-bar_hotline"><span class="hotline-head"><span class="mr-1">Hotline:</span> <a
                                href="tel:0767676170"> 0767676170</a></span></div>
                    <div class="top-bar_lang">
                        <div class="d-flex">
                            <div class="social-class">
                                <ul class="list-unstyle list-social">
                                    <li><a href="#!"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#!"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fa fa-youtube"></i></a></li>
                                </ul>

                            </div>
                            <div class="languages">
                                <div class="btn-group">
                                    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <span>English</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow mt-3">
                                        <a class="dropdown-item" href="/">English</a>
                                        <a class="dropdown-item" href="/vi">Tiếng Việt</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light align-items-end">
                <a class="navbar-brand" href="/">
                    <img src="@@url/assets/images/logo.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" class="button-content">
                    <div class="info-content">
                        <span>DOWNLOAD</span><br>
                        <span>BROCHURES</span>
                    </div>
                    <div class="img-content">
                        <i class="fas fa-download"></i>
                    </div>
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 justify-content-end">
                        <li class="nav-item  menu-item menu-item-1  active">
                            <a class="nav-link " href="/" target="_self">

                                <span class="menu-item-label">
                                    Home
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown has-hover menu-item menu-item-5  ">
                            <a class="nav-link dropdown-toggle" href="/about-us"
                                target="_self">

                                <span class="menu-item-label">
                                    Company
                                </span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/about-us">
                                    About Us
                                </a>
                                <a class="dropdown-item" href="/network">
                                    Network
                                </a>
                                <a class="dropdown-item" href="/clients-partners">
                                    Clients &amp; Partners
                                </a>
                                <a class="dropdown-item" href="/company-identity">
                                    Company Identity
                                </a>
                            </div>
                        </li>
                        <li class="nav-item  menu-item menu-item-10  ">
                            <a class="nav-link " href="/product" target="_self">

                                <span class="menu-item-label">
                                    Product
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown has-hover menu-item menu-item-11  ">
                            <a class="nav-link dropdown-toggle" href="/service" target="_self">

                                <span class="menu-item-label">
                                    Service
                                </span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/design">
                                    Design
                                </a>
                                <a class="dropdown-item" href="/fabrication">
                                    Fabrication
                                </a>
                                <a class="dropdown-item" href="/erection">
                                    Erection
                                </a>
                                <a class="dropdown-item" href="/safety">
                                    Safety
                                </a>
                            </div>
                        </li>
                        <li class="nav-item  menu-item menu-item-17  ">
                            <a class="nav-link " href="#" target="_self">

                                <span class="menu-item-label">
                                    Project
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  menu-item menu-item-18  ">
                            <a class="nav-link " href="#" target="_self">

                                <span class="menu-item-label">
                                    PR Center
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  menu-item menu-item-21  ">
                            <a class="nav-link " href="#" target="_self">

                                <span class="menu-item-label">
                                    BMB Love School
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  menu-item menu-item-20  ">
                            <a class="nav-link " href="#" target="_self">

                                <span class="menu-item-label">
                                    Careers
                                </span>
                            </a>
                        </li>
                    </ul>


                </div>
            </nav>
        </div>
    </div>
</header>
<!-- End Header -->