<div class="row mt-5">
    <div class="col-lg-4 col-md-12 col-sm-12">
        <img src="@@link-img" class="img-fluid">
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
        <p class="p-title">@@title</p>
        <p class="p-content">@@text</p>
        <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right" aria-hidden="true"></i></a></p>
    </div>
</div>