<div class="row content-prcenter__title">
    <p>@@title</p>
</div>
<div class="row mb-4 mt-1 content-prcenter__time">
    <p>@@time</p>
</div>
<div class="content-prcenter-text">
    <div class="row mb-3 content-prcenter-text__content">
        <p>
            @@text1
        </p>
        <br><br>
        <p>
            @@text2
        </p>
    </div>
    <div class="row mt-3 mb-3">
        <img class="w-100" src="@@link-image" alt="image">
    </div>
    <div class="row content-prcenter-text__last">
        <p>
            @@text3
        </p>
    </div>
</div>