<div class="row m-4">
    <ul class="pagination">
        <li><i class="fa fa-caret-left" aria-hidden="true"></i></li>
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>...</li>
        <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
    </ul>
</div>