<div class="control">
    @@include('./main-title.html', {"title": "JOB SEARCH", "margin-left": "ml-0"})
    <input type="text" class="control__search" placeholder="Keyword...">
    <div class="control__filter">
        <p>FILTER BY</p>
    </div>
    <div class="control__choose">
        <div class="dropdown open control__choose">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Location
                            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#!">Vietnam</a>
                <a class="dropdown-item" href="#!">Thailand</a>
                <a class="dropdown-item" href="#!">Indonesia</a>
                <a class="dropdown-item" href="#!">Philippines</a>
                <a class="dropdown-item" href="#!">Cambodia</a>
                <a class="dropdown-item" href="#!">Myanmar</a>
            </div>
        </div>
    </div>
</div>