<div class="cp-factory">
    <div class="container">
        <div class="slider-cp-factory">
            <div class="item">
                <a href="#!">
                    <img src="@@link-img-1" alt="" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="@@link-img-2" alt="" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="@@link-img-3" alt="" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="@@link-img-4" alt="" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="@@link-img-5" alt="" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a href="#!">
                    <img src="@@link-img-1" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>