html {
    @include bp(1170px) {
        font-size: 1rem;
    }
    //@include fs-vw(16, $base_line_height, 1170);
}

* {
    -webkit-overflow-scrolling: touch;
    word-break: break-word;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
    margin: 0;
    padding: 0;
}

a,
span {
    display: inline-block;
}
