body {
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1.5;
    .container {
        max-width: 1220px;
        @include bp(0,1140px) {
            max-width: 100%;
            width: 100%;
        }
    }
    a:hover {
        opacity: 0.8;
        text-decoration: none;
    }

    hr {
        margin: 0 auto;
    }

    @include bp('sp') {
        overflow-x: hidden;
        min-width: 300px;

        hr {
            width: 100% !important;
        }
    }
}

.sp {
    display: none !important;
    @include bp('sp') {
        display: block !important;
    }
}

.pc {
    @include bp('sp') {
        display: none !important;
    }
}
:focus {
    outline:none !important;
}