@@include('./../html/head.html',{ "title": "sub structural 02", "url": ".." }) @@include('./../html/header.html',{ "url": ".." }) <main>
    <div class="sub-header type-01" style="background-image: url('../assets/images/product-img-02.png');">
        <div class="container">
            <div class="nav-sub-header">
                <ul>
                    <li><a href="#">PRE - ENGINEERED STEEL BUILDING</a></li>
                    <li><a href="#">STRUCTURAL BUILDING APPLICATION</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="content-standard">
        <div class="container">
            <div class="block-01">
                <h2 class="line-bottom mt-5 mb-5 text-uppercase">pre - engineered steel building</h2>
                <div class="nav-tabs-01">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-model" role="tab" aria-selected="true">MODEL</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-01" role="tab" aria-selected="true">STANDARD FRAMING SYSTEMS</a>
                            <a class="nav-item nav-link active show" data-toggle="tab" href="#nav-product-02" role="tab" aria-selected="false">SUB - STRUCTURAL SYSTEMS</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-03" role="tab" aria-selected="false">ROOF, WALL, DECKING PANEL</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-04" role="tab" aria-selected="false">ACCESSORIES</a>
                        </div>
                    </nav>
                </div>
                <div class="tab-content p-0 type-01" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-product-01" role="tabpanel">
                        <div class="slick-slider-04">
                            <div class="thumbnail">
                                <img class="img-fluid" src="../assets/images/product-img-03.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-product-01" role="tabpanel">
                        <div class="slick-slider-06">
                            <div class="slider-06-for">
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="../assets/images/product/slider6_01.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/936x512.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/936x512.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/936x512.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/936x512.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="slider-06-nav">
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="nav-product-02" role="tabpanel">
                        <h3 class="title">LOREM IPSUM</h3>
                        <div class="slick-slider-05">
                            <div class="slider-05-for">
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="slider-05-nav">
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="c-item">
                                    <div class="thumbnail">
                                        <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-product-03" role="tabpanel"> 333333333333333333333 </div>
                    <div class="tab-pane fade" id="nav-product-04" role="tabpanel"> 444444444444444 </div>
                </div>
            </div>
        </div>
    </section>
</main> @@include('./../html/footer.html',{ "url": ".." })