@@include('./../html/head.html',{ "title": "sub structural 01", "url": ".." })
@@include('./../html/header.html',{ "url": ".." })
<main>
	<div class="banner-product">
		<div class="container">
			<h1 class="title-lg">why choose us?</h1>
			<div class="list-factorial">
				<div class="slick-slider-03">
					<div class="item">
						<div class="card card-factorial">
							<div class="card-body">
								<h3 class="card-title trimText">Quality products</h3>
								<p class="card-text trimText clamp5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
									quasi. At
									praesentium.</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card card-factorial">
							<div class="card-body">
								<h3 class="card-title trimText">Competitive pricing</h3>
								<p class="card-text trimText clamp5">Investments in technology provide state-of-the-art production
									facilities
									and
									new production technologies mean that BMB Steel can offer quality products at consistently competitive
									prices.</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="card card-factorial">
							<div class="card-body">
								<h3 class="card-title trimText">THE MAIN REASONS</h3>
								<p class="card-text trimText clamp5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
									quasi. At
									praesentium.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block-01 row">
				<div class="col-sm-6 p-0">
					<a href="standard-framing-systems.html" class="item active">
						<h3>PRE - ENGINEERED<br>STEEL BUILDING</h3>
					</a>
				</div>
				<div class="col-sm-6 p-0">
					<a href="structural-building-application.html" class="item">
						<h3>PRE - ENGINEERED<br>STEEL BUILDING</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</main>
@@include('./../html/footer.html',{ "url": ".." })