@@include('./../html/head.html',{ "title": "sub structural 01", "url": ".." })
@@include('./../html/header.html',{ "url": ".." })
<main>
		<div class="sub-header type-01" style="background-image: url('../assets/images/product-img-02.png');">
			<div class="container">
				<div class="nav-sub-header">
					<ul >
							<li><a href="#">PRE - ENGINEERED STEEL BUILDING</a></li>
							<li><a href="#">STRUCTURAL BUILDING APPLICATION</a></li>
					</ul>
			  </div>
			</div>
	</div>
	
	<section class="content-standard" >
		<div class="container">
			<div class="block-01">
				<h2 class="line-bottom mt-5 mb-5 text-uppercase">pre - engineered steel building</h2>
				<div class="block_inner">
					<div class="list-sub-structural-systems row">
						<div class="c-item col-sm-4 col-6">
							<a href="#" class="card card-sub-structural">
								<div class="card-body p-1">
									<div class="image-cover image-cover--16x9">
										<img src="../assets/images/product-img-04.png" alt="" class="img">
									</div>
									<div class="card-title">CRANE</div>
								</div>
							</a>
						</div>
						<div class="c-item col-sm-4 col-6">
							<a href="#" class="card card-sub-structural">
								<div class="card-body p-1">
									<div class="image-cover image-cover--16x9">
										<img src="../assets/images/product-img-05.png" alt="" class="img">
									</div>
									<div class="card-title">JACKBEAM</div>
								</div>
							</a>
						</div>
						<div class="c-item col-sm-4 col-6">
							<a href="#" class="card card-sub-structural">
								<div class="card-body p-1">
									<div class="image-cover image-cover--16x9">
										<img src="../assets/images/product-img-06.png" alt="" class="img">
									</div>
									<div class="card-title">WALK WAY</div>
								</div>
							</a>
						</div>
						<div class="c-item col-sm-4 col-6">
							<a href="#" class="card card-sub-structural">
								<div class="card-body p-1">
									<div class="image-cover image-cover--16x9">
										<img src="../assets/images/product-img-07.png" alt="" class="img">
									</div>
									<div class="card-title">SUPPORT CONVEYOR</div>
								</div>
							</a>
						</div>
						<div class="c-item col-sm-4 col-6">
							<a href="#" class="card card-sub-structural">
								<div class="card-body p-1">
									<div class="image-cover image-cover--16x9">
										<img src="../assets/images/product-img-08.png" alt="" class="img">
									</div>
									<div class="card-title">PIPERACK</div>
								</div>
							</a>
						</div>
						<div class="c-item col-sm-4 col-6">
							<a href="#" class="card card-sub-structural">
								<div class="card-body p-1">
									<div class="image-cover image-cover--16x9">
										<img src="../assets/images/product-img-09.png" alt="" class="img">
									</div>
									<div class="card-title">SKY BRIDGE</div>
								</div>
							</a>
						</div>
						<div class="c-item col-sm-4 col-6">
							<a href="#" class="card card-sub-structural">
								<div class="card-body p-1">
									<div class="image-cover image-cover--16x9">
										<img src="../assets/images/product-img-10.png" alt="" class="img">
									</div>
									<div class="card-title">COMPOSITE BEAM</div>
								</div>
							</a>
						</div>
						<div class="c-item col-sm-4 col-6">
							<a href="#" class="card card-sub-structural">
								<div class="card-body p-1">
									<div class="image-cover image-cover--16x9">
										<img src="../assets/images/product-img-11.png" alt="" class="img">
									</div>
									<div class="card-title">COMPOSITE COLUMN</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
@@include('./../html/footer.html',{ "url": ".." })