@@include('./../html/head.html',{ "title": "sub structural 02", "url": ".." })
@@include('./../html/header.html',{ "url": ".." })
<main>
		<div class="sub-header type-01" style="background-image: url('../assets/images/product-img-02.png');">
			<div class="container">
				<div class="nav-sub-header">
					<ul >
							<li><a href="#">PRE - ENGINEERED STEEL BUILDING</a></li>
							<li><a href="#">STRUCTURAL BUILDING APPLICATION</a></li>
					</ul>
			  </div>
			</div>
	</div>
	
	<section class="content-standard" >
		<div class="container">
			<div class="block-01">
				<h2 class="line-bottom mt-5 mb-5 text-uppercase">pre - engineered steel building</h2>
				<div class="block_inner">
					<div class="slick-slider-06">
						<div class="slider-06-for">
							<div class="c-item">
								<div class="thumbnail">
									<img src="../assets/images/product/slider6_01.png" alt="" class="img-fluid">
								</div>
							</div>
							<div class="c-item">
								<div class="thumbnail">
									<img src="https://via.placeholder.com/936x512.png" alt="" class="img-fluid">
								</div>
							</div>
							<div class="c-item">
								<div class="thumbnail">
									<img src="https://via.placeholder.com/936x512.png" alt="" class="img-fluid">
								</div>
							</div>
							<div class="c-item">
								<div class="thumbnail">
									<img src="https://via.placeholder.com/936x512.png" alt="" class="img-fluid">
								</div>
							</div>
							<div class="c-item">
								<div class="thumbnail">
									<img src="https://via.placeholder.com/936x512.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
						<div class="slider-06-nav">
							<div class="c-item">
								<div class="thumbnail">
									<img src="../assets/images/product/slider6_01.png" alt="" class="img-fluid">
								</div>
							</div>
							<div class="c-item">
								<div class="thumbnail">
									<img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
								</div>
							</div>
							<div class="c-item">
								<div class="thumbnail">
									<img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
								</div>
							</div>
							<div class="c-item">
								<div class="thumbnail">
									<img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
								</div>
							</div>
							<div class="c-item">
								<div class="thumbnail">
									<img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
@@include('./../html/footer.html',{ "url": ".." })