.c-search {
  display: inline-block;
  position: relative;
  i {
    @include posCenterY();
    left: auto;
    right: 10px;
  }
  input {
    padding-right: 25px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }
}
.c-breadcrumb {
  padding: 15px 0;
  >ul>li{
    margin-right: 0 !important;
    a {
      padding-right: 5px;
    }
    &:not(:last-child) {
      &::after {
        content: ">";
      }
    }
  }
}