
    .pagination {
        li {
            background: #9a9999;
            margin-right: 3px;
        }
    }
    .project .sub-header {
        background: url(../images/project-sub.png);
    }
    .services-header {
        padding-top: 50px;
        .erection-img {
            &--active {
                background: rgba(0, 14, 142, 0.8);
            }
        }
    }
    .service-site {
        &__img-main {
            img {
                width: 100%;
            }
        }
        .cp-factory {
            background: unset;
        }
    }
    .services-video {
        * {
            text-align: center;
        }
        &__list {
            width: 100%;
            margin-top: 29px;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 77px;
            }
        }
        &__title {
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            margin-bottom: 6px;
        }
        &__content {
            margin-bottom: 16px;
            font-size: 12px;
            line-height: 14px;
        }
        &__video {
            img {
                width: 640px;
                height: 360px;
            }
        }
    }
    .services-certificates {
        &__title {
            text-align-last: left;
        }
        .line-head {
            margin-left: unset;
        }
        &__row {
            &-1 {
                img {
                    width: 232px;
                }
            }
            &-2 {
                img {
                    width: 100%;
                    @media screen and (max-width: 992px) {
                        width: 50%;
                    }
                }
            }
        }
        &__line {
            border: 1px solid #e5e5e5;
            margin: 60px 0;
        }
    }
    .view1 {
        &__list {
            margin-top: 43px;
        }
        &__item {
            min-width: 326px;
            width: 326px;
            height: 229px;
            box-sizing: border-box;
            border: 1px solid #9a9999;
            text-align: center;
            padding: 10px;
            margin-bottom: 42px;
            &--none {
                border: none;
            }
            p {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                color: #273a91;
                margin-top: 13px;
            }
            img {
                width: 100%;
            }
        }
    }
    .love-school {
        // overflow-x: hidden;
        padding-bottom: 113px;
        &__banner {
            position: relative;
            &-inner {
                position: absolute;
                right: 6%;
                text-align: center;
                img {
                    margin-bottom: 31px;
                    width: 23.7vw;
                }
                p {
                    // font-family: "Times New Roman";
                    font-style: italic !important;
                    font-weight: bold;
                    font-size: 2.1vw;
                    line-height: 46px;
                    text-align: center;
                    color: #13499c;
                }
            }
            &-img {
                width: 100%;
            }
        }
        .nav-sub-header {
            margin: 0 auto;
            position: absolute;
            bottom: 43px;
            ul {
                justify-content: center;
                margin: 0 auto;
            }
        }
        &__line {
            height: 1px;
            background-color: #e5e5e5;
            margin: 84px 0 74px 0;
        }
        &-container {
            h3 {
                color: #000;
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                text-transform: uppercase;
            }
            p {
                font-size: 14px;
                line-height: 16px;
                text-align: justify;
                color: #000000;
            }
            &-1 {
                position: relative;
                margin-bottom: 84px;
                &__img {
                    width: 100%;
                }
                &__text {
                    background: rgba(0, 0, 0, 0.7);
                    border: 2px solid #ffffff;
                    box-sizing: border-box;
                    // width: 21.2%;
                    width: 405px;
                    padding: 61px 52px 70px 51px;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    h3 {
                        margin-bottom: 28px;
                        color: #ffffff;
                    }
                    p {
                        color: #ffffff;
                    }
                    &--style {
                        font-weight: bold;
                        font-style: italic;
                    }
                }
            }
            &-2 {
                background: #e5e5e5;
                * {
                    color: #000000;
                    text-align: justify;
                }
                &__text {
                    padding: 0 40px 0 30px;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3 {
                        margin-bottom: 13px;
                    }
                }
            }
            &-3 {
                h3 {
                    margin-bottom: 12px;
                }
                &__text {
                    margin-bottom: 48px;
                }
            }
            &-4 {
                margin-bottom: 113px;
                &__text {
                    p {
                        padding: 0 50px;
                    }
                }
            }
            &-5 {
                h3 {
                    text-align: center;
                    margin-bottom: 55px;
                }
                &__img {
                    margin: auto 0;
                }
                &__text {
                    padding: 77px 54px 84px 54px;
                    background: #e5e5e5;
                    height: 600px;
                    max-height: 600px;
                    margin: auto 0;
                    box-sizing: border-box;
                    @media only screen and (max-width: 1200px) {
                        height: unset;
                        max-height: unset;
                    }
                }
                &__list-history {
                    border-left: 1px solid rgba(0, 14, 142, 0.5);
                    @media only screen and (max-width: 1200px) {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
                &__history {
                    position: relative;
                    &::before {
                        content: "";
                        background: url("../images/blue-dot.png");
                        width: 10px;
                        height: 10px;
                        background-size: contain;
                        position: absolute;
                        left: -5px;
                    }
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    &-year {
                        font-weight: 900;
                        font-size: 14px;
                        text-align: center;
                        color: #000e8e;
                    }
                    &-detail {
                        font-weight: normal;
                        font-size: 14px;
                        color: #000000;
                    }
                }
            }
        }
    }
    .main-title {
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        color: #000000;
        position: relative;
        margin-top: 54px;
        &::before {
            content: "";
            width: 134px;
            height: 10px;
            background: #cf0000;
            position: absolute;
            bottom: -15px;
        }
        &--no-border &::before {
            display: none;
        }
    }
    .careers {
        .sub-header {
            background: url("../images/careers-bg.png") no-repeat center;
            background-size: auto;
            height: 359px;
        }
        .sub-header .main-title {
            h1 {
                color: #fff;
            }
        }
        &.culture {
            .sub-header {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            .love {
                * {
                    color: #fff;
                }
                height: 900px;
                background: url("../images/careers-love-bg.png") no-repeat center;
                .box {
                    text-align: center;
                    margin: 0 auto;
                    position: relative;
                    min-width: 1230px;
                    .center {
                        position: absolute;
                        left: 50%;
                        top: 54%;
                        transform: translate(-50%, -50%);
                        font-family: Rockwell Condensed;
                    }
                    h3 {
                        font-family: Rockwell Condensed;
                        font-size: 30px;
                    }
                    :not(.center) {
                        h3 {
                            margin-bottom: 15px;
                        }
                    }
                    p {
                        font-size: 12px;
                        line-height: 14px;
                    }
                    .top {
                        position: absolute;
                        top: -60px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        text-align: center;
                        p {
                            width: 396px;
                        }
                    }
                    .left {
                        position: absolute;
                        text-align: right;
                        bottom: 24%;
                        left: 210px;
                        p {
                            width: 298px;
                        }
                    }
                    .right {
                        position: absolute;
                        text-align: left;
                        bottom: 24%;
                        right: 160px;
                        p {
                            width: 298px;
                        }
                    }
                }
            }
        }
        &.oppo {
            padding-bottom: 50px;
            .manager {
                margin-bottom: 100px;
                border-right: 1px solid #E5E5E5;
                .main-title {
                    margin-top: 0 !important;
                }
                * {
                    color: #000;
                }
                &__list {
                    margin-top: 70px;
                }
                &__item {
                    display: flex;
                    margin: 0;
                    // height: 93px;
                    &:not(:last-child) {
                        margin-bottom: 53px;
                    }
                    &-avatar {
                        height: 100%;
                        min-width: 93px;
                        margin-right: 34px;
                    }
                    &-right {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    &-title {
                        p {
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    &-content {
                        p {
                            font-size: 14px;
                            line-height: 16px;
                            text-align: justify;
                        }
                    }
                    &-more {
                        width: fit-content;
                        a {
                            cursor: pointer;
                            span {
                                font-style: italic !important;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 14px;
                                color: #9a9999;
                            }
                            &:hover {
                                text-decoration: underline;
                            }
                            &[aria-expanded="true"] {
                                .more {
                                    display: none;
                                }
                                .more-dismiss {
                                    display: block !important;
                                    padding-left: 10px;
                                }
                            }
                            &[aria-expanded="true"] {
                                &~.icon-down {
                                    display: none;
                                }
                                &~.icon-up {
                                    display: block !important;
                                    padding-left: 28px;
                                    border-left: 1px solid #9a9999;
                                }
                            }
                        }
                    }
                    &-icon-down {
                        font-size: 15px;
                        margin-right: 5px;
                    }
                }
            }
            .control {
                width: 330px;
                height: 289px;
                border: 1px solid #333333;
                box-sizing: border-box;
                padding: 36px;
                width: 100%;
                .main-title {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 24px;
                    margin-top: 0 !important;
                    &::before {
                        width: 84px;
                        background: #000E8E;
                        height: 5px;
                        bottom: -10px;
                    }
                }
                &__search {
                    border: 1px solid #FFFFFF;
                    box-sizing: border-box;
                    width: 258px;
                    height: 42px;
                    background: url("../images/icon-search.png") no-repeat rgba(0, 0, 0, 0.8);
                    background-position: calc(100% - 30px) center;
                    margin-bottom: 46px;
                    width: 100%;
                    &::placeholder {
                        font-style: italic;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #FFFFFF;
                        // padding: 0 23px;
                    }
                    &[type=text] {
                        color: #fff;
                        padding: 0 55px 0 23px;
                    }
                }
                &__filter {
                    border-bottom: 2px solid #000E8E;
                    margin-bottom: 33px;
                    padding-bottom: 5px;
                    p {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
                &__choose {
                    button {
                        background-color: #fff;
                        padding: 0;
                        font-size: 14px;
                        line-height: 16px;
                        outline: none;
                        &::after {
                            border-top: .2em solid;
                            border-right: .2em solid transparent;
                            border-left: .2em solid transparent;
                        }
                        &:focus {
                            outline: none;
                            border: none;
                            box-shadow: none;
                        }
                        &:not(:focus) {
                            outline: none;
                            border: none;
                            box-shadow: none;
                        }
                    }
                    .dropdown-menu {
                        width: 176px;
                    }
                    .dropdown-item {
                        font-size: 12px;
                        line-height: 30px;
                        &:active {
                            background-color: #000e8e;
                        }
                    }
                }
            }
        }
        &.oppo01 {
            .sale-manager {
                * {
                    color: #000000;
                }
                &__list {
                    margin-top: 36px;
                }
                &__item {
                    &:not(:last-child) {
                        margin-bottom: 45px;
                    }
                    ul {
                        li {
                            font-size: 14px;
                            line-height: 16px;
                            text-align: justify;
                            &+li {
                                margin-top: 15px;
                            }
                        }
                    }
                }
                &__title {
                    margin-bottom: 15px;
                    p {
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 16px;
                        text-transform: uppercase;
                        color: #000E8E;
                    }
                }
                &__text {
                    font-size: 14px;
                    line-height: 16px;
                    text-align: justify;
                }
                &__content {
                    padding-left: 25px;
                }
                &__apply {
                    padding-right: 30px;
                    background: url("../images/icon-drop-down.png") no-repeat;
                    background-position: 90% 35%;
                    background-size: 10px;
                    p {
                        padding-bottom: 4px;
                        border-bottom: 2px solid #CF0000;
                    }
                }
                &__contact {
                    // height: 370px;
                    background: #000000;
                    padding: 36px 20px 43px 23px;
                    &-title {
                        margin-bottom: 27px;
                        p {
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 16px;
                            text-transform: uppercase;
                            color: #FFFFFF;
                        }
                    }
                    &-form {
                        .row {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            &:not(:last-child) {
                                margin-bottom: 11px;
                            }
                        }
                        textarea {
                            resize: none;
                            width: 100%;
                            height: 100px;
                            position: relative;
                            border-radius: 4px;
                            padding-left: 20px;
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 14px;
                            color: #9A9999;
                        }
                    }
                    &-textarea {
                        p {
                            top: 15px !important;
                        }
                    }
                    &-input {
                        width: 48.5%;
                        position: relative;
                        &:nth-child(odd) {
                            padding-left: 0;
                            padding-right: 0;
                        }
                        &:nth-child(even) {
                            padding-left: 0;
                            padding-right: 0;
                        }
                        input {
                            background: #FFFFFF;
                            border-radius: 4px;
                            border: none;
                            position: relative;
                            width: 100%;
                            height: 26px;
                            padding-left: 20px;
                            &[type=text] {
                                font-weight: 300;
                                font-size: 12px;
                                line-height: 14px;
                                color: #9A9999;
                            }
                        }
                        p {
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 14px;
                            color: #9A9999;
                            position: absolute;
                            top: 50%;
                            transform: translate(0, -50%);
                            left: 20px;
                        }
                        &--red {
                            color: #cf0000;
                        }
                    }
                    &-file {
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        .left {
                            p {
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 16px;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                margin-bottom: 8px;
                            }
                            button {
                                font-size: 12px;
                                line-height: 14px;
                                color: #000000;
                                border: none;
                                background: #FFFFFF;
                                border-radius: 5px;
                                width: 75px;
                                height: 22px;
                                border: none;
                            }
                        }
                        .right {
                            button {
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 16px;
                                text-align: center;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                border: none;
                                border: 1px solid #FFFFFF;
                                background-color: #000000;
                                width: 211px;
                                height: 50px;
                                &:hover {
                                    background-color: #000e8e;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cp-factory {
        padding: 80px 0;
    }
    .cliplock {
        .image-cover {
            .img {
                width: 80% !important;
            }
        }
    }
    .middle-line {
        height: 1px;
        background: #e5e5e5;
        margin: 47px 0;
        width: 100%;
        &--no-mb {
            margin-bottom: 0;
        }
    }
    .list-sub-structural-systems {
        &.no-border {
            .c-item {
                .card {
                    border: none;
                }
                .card-title {
                    color: #000000;
                    font-weight: normal;
                }
            }
        }
        &.column02 {
            .c-item {
                .image-cover {
                    width: 100%;
                    height: 629px;
                    @media screen and (max-width: 992px) {
                        height: 400px;
                    }
                    @media screen and (max-width: 767px) {
                        height: 620px;
                    }
                }
            }
        }
    }
    .access__last-row {
        .title {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            color: #000000;
            margin-top: 13px;
            margin-bottom: 21px;
        }
    }
    .sub-title {
        margin-top: 0;
        h2 {
            font-size: 30px;
            color: #000e8e;
            &::before {
                display: none;
            }
        }
        &::before {
            width: 326px;
            height: 5px;
            bottom: -5px;
        }
    }
    .c-menu {
        position: relative;
        margin-top: 25px;
        &::before {
            content: "";
            background: url("../images/rwd-icon-01.png") no-repeat;
            background-size: contain;
            position: absolute;
            width: 11px;
            height: 11px;
            top: -20px;
            left: -5px;
        }
        .c-item {
            font-size: 14px;
            line-height: 16px;
            &+.c-item {
                margin-top: 10px;
            }
            &.active {
                color: #000e8e;
            }
        }
    }
    .rwd-content {
        &:first-child {
            margin-top: 90px;
        }
        &__text {
            margin-bottom: 22px;
            p {
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: justify;
                color: #000000;
                &+p {
                    margin-top: 10px;
                }
            }
        }
        &__slide {
            height: 342px;
            width: 100%;
            border: 1px solid #c4c4c4;
            margin-top: 27px;
        }
        &__sub-img {
            margin-bottom: 30px;
            &>* {
                margin: 0 auto;
            }
            &-sub {
                margin-top: 10px;
                text-align: center;
                width: 100%;
                margin-top: 43px;
                p {
                    font-style: italic !important;
                    color: #000;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                }
            }
        }
    }
    .c-table {
        width: 100%;
        * {
            color: #000000;
            line-height: 14px;
            text-align: center;
            &:not(small) {
                font-size: 12px;
            }
        }
        table {
            width: 100%;
            tr {
                th,
                td {
                    height: 46px;
                    border: 1px solid #c4c4c4;
                    height: 29px;
                    sub,
                    sup {
                        font-size: 10px;
                    }
                }
                th {
                    background: #e5e5e5;
                    font-weight: normal;
                    height: 50px;
                }
            }
            .white {
                background: #fff;
            }
        }
        &--2 {
            tr {
                th {
                    width: 50%;
                    padding: 10px 0;
                }
                td:nth-child(2) {
                    width: 25%;
                }
            }
        }
        &--4 {
            tr {
                th {
                    width: 25%;
                }
            }
        }
        &--6 {
            tr {
                th {
                    width: 25%;
                }
                td:nth-child(3),
                td:nth-child(5) {
                    width: 12.5%;
                }
            }
        }
        &--7 {
            tr {
                th {
                    width: calc(100% / 7);
                }
            }
        }
        &--bold {
            font-weight: bold;
        }
        &__footer {
            margin-top: 10px;
            p {
                font-style: italic !important;
            }
        }
        &.table-striped tbody tr:nth-child(even) td {
            background-color: #E5E5E5;
        }
        &.table-striped tbody tr:nth-child(odd) td {
            background-color: #FFFFFF;
        }
    }
    .seam {
        margin-top: 62px;
        &__item:not(:last-child) {
            margin-bottom: 34px
        }
    }
    .tole {
        margin-top: 62px;
        &__item:not(:last-child) {
            margin-bottom: 34px
        }
    }
    .service-fabrication {
        .service-content {
            &__title {
                margin-bottom: 24px;
                p {
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 35px;
                    text-transform: uppercase;
                    color: #000E8E;
                }
            }
            &__list {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                // background: url("../images/bg-line.png") no-repeat;
                // background-size: contain;
            }
            &__item {
                width: calc(100% / 3 - 9px - 35px * 2);
                height: 264px;
                max-height: 264px;
                border-top: 3px solid #000E8E;
                padding: 43px 39px;
                box-sizing: unset;
                position: relative;
                &:before {
                    content: '';
                    background: url("../images/icon-circle.png") no-repeat;
                    background-size: contain;
                    width: 23px;
                    height: 23px;
                    position: absolute;
                    left: 50%;
                    top: calc(-23px / 2);
                    transform: translate(-50%, 0);
                }
                &:nth-child(6n+3) {
                    border-right: 3px solid #000E8E;
                    border-bottom: 3px solid #000E8E;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    margin-bottom: -3px;
                }
                &:nth-child(6n+4) {
                    border-left: 3px solid #000E8E;
                    border-bottom: 3px solid #000E8E;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                    margin-bottom: -3px;
                }
                &:nth-child(6n) {
                    border-top: none;
                }
                &:nth-child(6n+1):not(:first-child) {
                    border-top: none;
                }
                &--close-row {
                    margin-bottom: 0 !important;
                    border-bottom: 3px solid #000E8E !important;
                }
                &--last-row {
                    border: none;
                    &:before {
                        left: 50%;
                        top: calc(-23px / 2 - 1.5px);
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
    }
    .service-erection {
        .service-content {
            &__item {
                width: calc(100% / 4 - 33px);
                border-left: none !important;
                border-right: none !important;
                border-bottom: none !important;
                border-radius: 0 !important;
                margin: 0 !important;
                padding-top: 34px !important;
                padding-right: calc(43px / 2);
                padding-left: calc(43px / 2);
                &:last-child {
                    padding-right: 0;
                }
                &:first-child {
                    padding-left: 0;
                }
            }
            .fabrication-item {
                &__title {
                    height: 65px;
                }
            }
        }
    }
    .service-design {
        .service-content {
            &__item {
                width: calc(100% / 3 - 29px);
            }
        }
        .nav-list {
            .nav-tabs {
                border: none;
            }
        }
        .tab-content {
            border: none;
            padding: 50px 0;
            &:hover {
                background: none;
            }
        }
        .nav-tabs {
            .nav-link {
                width: calc(100% / 3);
                border: 1px solid #E5E5E5;
                text-align: center;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #000000;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    // border: none;
                }
                &.active {
                    border: none;
                    background: #E5E5E5;
                    border-radius: 0;
                }
            }
        }
        &__tab-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item {
            margin-bottom: 62px;
        }
    }
    .fabrication-item {
        &__title {
            border: 3px solid #000E8E;
            box-sizing: border-box;
            filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 19px;
            text-align: center;
            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #000000;
            }
        }
        &__img {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .c-design-item {
        width: 244px;
        .img {}
        .text {
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            color: #000E8E;
        }
    }
