
    .pagination {
        li {
            background: #9a9999;
            margin-right: 3px;
        }
    }
    .project .sub-header {
        background: url(../images/project-sub.png);
    }
    .services-header {
        .erection-img {
            &--active {
                background: rgba(0, 14, 142, 0.8);
            }
        }
    }
    .service-site {
        &__img-main {
            img {
                width: 100%;
            }
        }
        .cp-factory {
            background: unset;
        }
    }
    .services-video {
        * {
            text-align: center;
        }
        &__list {
            width: 100%;
            margin-top: 29px;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 77px;
            }
        }
        &__title {
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            color: #000000;
            margin-bottom: 6px;
        }
        &__content {
            margin-bottom: 16px;
            font-size: 12px;
            line-height: 14px;
        }
        &__video {
            img {
                width: 640px;
                height: 360px;
            }
        }
    }
    .services-certificates {
        &__title {
            text-align-last: left;
        }
        .line-head {
            margin-left: unset;
        }
        &__row {
            &-1 {
                img {
                    width: 232px;
                }
            }
            &-2 {
                img {
                    width: 100%;
                    @media screen and (max-width: 992px) {
                        width: 50%;
                    }
                }
            }
        }
        &__line {
            border: 1px solid #e5e5e5;
            margin: 60px 0;
        }
    }
    .view1 {
        &__list {
            margin-top: 43px;
        }
        &__item {
            min-width: 326px;
            width: 326px;
            height: 229px;
            box-sizing: border-box;
            border: 1px solid #9a9999;
            text-align: center;
            padding: 10px;
            margin-bottom: 42px;
            &--none {
                border: none;
            }
            p {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                color: #273a91;
                margin-top: 13px;
            }
            img {
                width: 100%;
            }
        }
    }
    .love-school {
        // overflow-x: hidden;
        padding-bottom: 113px;
        &__banner {
            position: relative;
            &-inner {
                position: absolute;
                right: 6%;
                text-align: center;
                img {
                    margin-bottom: 31px;
                    width: 23.7vw;
                }
                p {
                    // font-family: "Times New Roman";
                    font-style: italic !important;
                    font-weight: bold;
                    font-size: 2.1vw;
                    line-height: 46px;
                    text-align: center;
                    color: #13499c;
                }
            }
            &-img {
                width: 100%;
            }
        }
        .nav-sub-header {
            margin: 0 auto;
            position: absolute;
            bottom: 43px;
            ul {
                justify-content: center;
                margin: 0 auto;
            }
        }
        &__line {
            height: 1px;
            background-color: #e5e5e5;
            margin: 84px 0 74px 0;
        }
        &-container {
            h3 {
                color: #000;
                font-weight: bold;
                font-size: 30px;
                line-height: 35px;
                text-transform: uppercase;
            }
            p {
                font-size: 14px;
                line-height: 16px;
                text-align: justify;
                color: #000000;
            }
            &-1 {
                position: relative;
                margin-bottom: 84px;
                &__img {
                    width: 100%;
                }
                &__text {
                    background: rgba(0, 0, 0, 0.7);
                    border: 2px solid #ffffff;
                    box-sizing: border-box;
                    // width: 21.2%;
                    width: 405px;
                    padding: 61px 52px 70px 51px;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    h3 {
                        margin-bottom: 28px;
                        color: #ffffff;
                    }
                    p {
                        color: #ffffff;
                    }
                    &--style {
                        font-weight: bold;
                        font-style: italic;
                    }
                }
            }
            &-2 {
                background: #e5e5e5;
                * {
                    color: #000000;
                    text-align: justify;
                }
                &__text {
                    padding: 0 40px 0 30px;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h3 {
                        margin-bottom: 13px;
                    }
                }
            }
            &-3 {
                h3 {
                    margin-bottom: 12px;
                }
                &__text {
                    margin-bottom: 48px;
                }
            }
            &-4 {
                margin-bottom: 113px;
                &__text {
                    p {
                        padding: 0 50px;
                    }
                }
            }
            &-5 {
                h3 {
                    text-align: center;
                    margin-bottom: 55px;
                }
                &__img {
                    margin: auto 0;
                }
                &__text {
                    padding: 77px 54px 84px 54px;
                    background: #e5e5e5;
                    height: 600px;
                    max-height: 600px;
                    margin: auto 0;
                    box-sizing: border-box;
                    @media only screen and (max-width: 1200px) {
                        height: unset;
                        max-height: unset;
                    }
                }
                &__list-history {
                    border-left: 1px solid rgba(0, 14, 142, 0.5);
                    @media only screen and (max-width: 1200px) {
                        width: 80%;
                        margin: 0 auto;
                    }
                }
                &__history {
                    position: relative;
                    &::before {
                        content: "";
                        background: url("../images/blue-dot.png");
                        width: 10px;
                        height: 10px;
                        background-size: contain;
                        position: absolute;
                        left: -5px;
                    }
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    &-year {
                        font-weight: 900;
                        font-size: 14px;
                        text-align: center;
                        color: #000e8e;
                    }
                    &-detail {
                        font-weight: normal;
                        font-size: 14px;
                        color: #000000;
                    }
                }
            }
        }
    }
    .main-title {
        font-weight: bold;
        font-size: 50px;
        text-transform: uppercase;
        color: #000000;
        position: relative;
        margin-top: 54px;
        &::before {
            content: "";
            width: 134px;
            height: 10px;
            background: #cf0000;
            position: absolute;
            bottom: -15px;
        }
    }
    .careers {
        .sub-header {
            background: url("../images/careers-bg.png") no-repeat center;
            background-size: auto;
            height: 359px;
        }
        .sub-header .main-title {
            h1 {
                color: #fff;
            }
        }
        &.culture {
            .sub-header {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            .love {
                * {
                    color: #fff;
                }
                height: 900px;
                background: url("../images/careers-love-bg.png") no-repeat center;
                .box {
                    text-align: center;
                    margin: 0 auto;
                    position: relative;
                    min-width: 1230px;
                    .center {
                        position: absolute;
                        left: 50%;
                        top: 54%;
                        transform: translate(-50%, -50%);
                        font-family: Rockwell Condensed;
                    }
                    h3 {
                        font-family: Rockwell Condensed;
                        font-size: 30px;
                    }
                    :not(.center) {
                        h3 {
                            margin-bottom: 15px;
                        }
                    }
                    p {
                        font-size: 12px;
                        line-height: 14px;
                    }
                    .top {
                        position: absolute;
                        top: -120px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        text-align: center;
                        p {
                            width: 396px;
                        }
                    }
                    .left {
                        position: absolute;
                        text-align: right;
                        bottom: 21%;
                        left: 0;
                        p {
                            width: 298px;
                        }
                    }
                    .right {
                        position: absolute;
                        text-align: left;
                        bottom: 21%;
                        right: 0;
                        p {
                            width: 298px;
                        }
                    }
                }
            }
        }
        &.oppo {
            padding-bottom: 50px;
            .manager {
                margin-bottom: 100px;
                * {
                    color: #000;
                }
                &__list {
                    margin-top: 70px;
                }
                &__item {
                    &:not(:last-child) {
                        margin-bottom: 53px;
                    }
                    &-title {
                        p {
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                    &-content {
                        p {
                            font-size: 14px;
                            line-height: 16px;
                            text-align: justify;
                        }
                    }
                    &-collapse {
                        padding-left: 28px;
                        border-left: 1px solid #9a9999;
                        &.show {
                            margin-top: 12px;
                        }
                        &--blue {
                            color: #000e8e;
                            font-weight: bold;
                        }
                        &-item {
                            &:not(:last-child) {
                                margin-bottom: 35px;
                            }
                        }
                        &-title {
                            font-size: 20px;
                            line-height: 23px;
                            text-align: justify;
                            &:not(:last-child) {
                                margin-bottom: 35px;
                            }
                            &:first-child {
                                margin-top: 12px;
                            }
                        }
                        &-content {
                            p {
                                font-size: 14px;
                                line-height: 16px;
                                text-align: justify;
                                &:not(:last-child) {
                                    margin-bottom: 10px;
                                }
                            }
                        }
                        &-footer {
                            padding-bottom: 17px;
                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    &-more {
                        width: fit-content;
                        a {
                            cursor: pointer;
                            span {
                                font-style: italic !important;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 14px;
                                color: #9a9999;
                            }
                            &:hover {
                                text-decoration: underline;
                            }
                            &[aria-expanded="true"] {
                                .more {
                                    display: none;
                                }
                                .more-dismiss {
                                    display: block !important;
                                    padding-left: 10px;
                                }
                            }
                            &[aria-expanded="true"] {
                                & ~ .icon-down {
                                    display: none;
                                }
                                & ~ .icon-up {
                                    display: block !important;
                                    padding-left: 28px;
                                    border-left: 1px solid #9a9999;
                                }
                            }
                        }
                    }
                    &-icon-down {
                        width: 12px;
                        margin-right: 10px;
                        // &.icon-down {}
                    }
                }
            }
        }
    }
    .cp-factory {
        padding: 80px 0;
    }
    .cliplock {
        .image-cover {
            .img {
                width: 80% !important;
            }
        }
    }
    .middle-line {
        height: 1px;
        background: #e5e5e5;
        margin: 47px 0;
        width: 100%;
        &--no-mb {
            margin-bottom: 0;
        }
    }
    .list-sub-structural-systems {
        &.no-border {
            .c-item {
                .card {
                    border: none;
                }
                .card-title {
                    color: #000000;
                    font-weight: normal;
                }
            }
        }
        &.column02 {
            .c-item {
                .image-cover {
                    width: 100%;
                    height: 629px;
                    @media screen and (max-width: 992px) {
                        height: 400px;
                    }
                    @media screen and (max-width: 767px) {
                        height: 620px;
                    }
                }
            }
        }
    }
    .access__last-row {
        .title {
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            color: #000000;
            margin-top: 13px;
            margin-bottom: 21px;
        }
    }
    .sub-title {
        margin-top: 0;
        h2 {
            font-size: 30px;
            color: #000e8e;
            &::before {
                display: none;
            }
        }
        &::before {
            width: 326px;
            height: 5px;
            bottom: -5px;
        }
    }
    .c-menu {
        position: relative;
        margin-top: 25px;
        &::before {
            content: "";
            background: url("../images/rwd-icon-01.png") no-repeat;
            background-size: contain;
            position: absolute;
            width: 11px;
            height: 11px;
            top: -20px;
            left: -5px;
        }
        .c-item {
            font-size: 14px;
            line-height: 16px;
            & + .c-item {
                margin-top: 10px;
            }
            &.active {
                color: #000e8e;
            }
        }
    }
    .rwd-content {
        &:first-child {
            margin-top: 90px;
        }
        &__text {
            margin-bottom: 22px;
            p {
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: justify;
                color: #000000;
                & + p {
                    margin-top: 10px;
                }
            }
        }
        &__slide {
            height: 342px;
            width: 100%;
            border: 1px solid #c4c4c4;
            margin-top: 27px;
        }
        &__sub-img {
            margin-bottom: 30px;
            & > * {
                margin: 0 auto;
            }
            &-sub {
                margin-top: 10px;
                text-align: center;
                width: 100%;
                margin-top: 43px;
                p {
                    font-style: italic !important;
                    color: #000;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                }
            }
        }
    }
    .c-table {
        width: 100%;
        * {
            color: #000000;
            line-height: 14px;
            text-align: center;
            &:not(small) {
                font-size: 12px;
            }
        }
        table {
            width: 100%;
            tr {
                th,
                td {
                    height: 46px;
                    border: 1px solid #c4c4c4;
                    height: 29px;
                    sub,sup {
                        font-size: 10px;
                    }
                }
                th {
                    background: #e5e5e5;
                    font-weight: normal;
                    height: 50px;
                }
            }
            .white {
                background: #fff;
            }
        }
        &--2 {
            tr {
                th {
                    width: 50%;
                    padding: 10px 0;
                }
                td:nth-child(2){
                    width: 25%;
                }
            }
        }
        &--4 {
            tr {
                th {
                    width: 25%;
                }
            }
        }
        &--6 {
            tr {
                th {
                    width: 25%;
                }
                td:nth-child(3), td:nth-child(5) {
                    width: 12.5%;
                }
            }
        }
        &--7 {
            tr {
                th {
                    width: calc(100% / 7);
                }
            }
        }
        &--bold {
            font-weight: bold;
        }
        &__footer {
            margin-top: 10px;
            p {
                font-style: italic !important;
            }
        }
        &.table-striped tbody tr:nth-child(even) td {
            background-color: #E5E5E5;
        }
        &.table-striped tbody tr:nth-child(odd) td {
            background-color: #FFFFFF;
        }
    }
    .seam {
        margin-top: 62px;
        &__item:not(:last-child){
            margin-bottom: 34px
        }
    }
    .tole {
        margin-top: 62px;
        &__item:not(:last-child){
            margin-bottom: 34px
        }
    }
