
  ul {
    list-style-type: none;
  }

  .footer {
    color: #fff;
    padding: 40px 0;
    background-color: #373636;
    h4.title {
      margin: 0 0 20px 28px;
      font-weight: 700;
      position: relative;
      border-bottom: 1px solid;
      padding-bottom: 10px;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 14px;
    }
  }

  .logo-footer {
    margin: 0 auto;
    text-align: center;
  }

  .info-footer {
    margin-bottom: 15px;
  }

  .footer {
    img.logo-img {
      width: 80%;
      filter: brightness(0) invert(1);
    }

    .address-footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        margin: 0 0 4px 28px;
        font-weight: bold;
        position: relative;
        i {
          position: absolute;
          top: 2px;
          left: -24px;
          font-size: 16px;
        }
        span {
          font-size: 12px;
          line-height: 14px;
          font-weight: normal;
        }
        &:first-child {
          border-bottom: 1px solid;
          padding-bottom: 7px;
          font-size: 12px;
          margin-bottom: 11px;
        }
      }
    }

    .flag-footer ul li {
      &:first-child {
        border-bottom: 1px solid;
        margin: 0 0 20px 28px;
        padding-bottom: 10px;
      }

      &:last-child {
        margin: 0 0 20px 28px;
        padding-bottom: 10px;
      }
    }

    .flag-footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  .flag-logo {
    width: auto;
    float: left;
    text-align: left;
    margin: 0 15px;
    margin-bottom: 10px;
    .dropdown-toggle {
      &::after {
        display: none;
        color: #fff;
      }
    }
    .dropup {
      .dropdown-menu {
        width: 100vw;
        max-width: 470px;
      }
      &:hover {
        .dropdown-menu {
          display: block;
          // left: 50%;
          // margin: 0;
          // transform: translateX(-50%);
          margin-bottom: 10px;
          padding: 20px;
          padding-bottom: 0;
        }
      }
    }
    span {
      margin-left: 5px;
    }
  }


@media only screen and (max-width: 1024px) {
  .flag-logo {
    width: auto;
    float: left;
    text-align: left;
    margin-right: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .logo-footer {
    margin-bottom: 20px;
  }

  .footer {
    .address-footer ul {
      float: none;
    }

    .flag-footer ul li:last-child {
      display: block;
    }
  }

  .flag-logo {
    width: 20%;
    float: left;
    text-align: center;
    margin-right: 0;

    span {
      font-size: 10px;
    }
  }
}
  div,
  span {
    font-family: Roboto !important;
    font-style: normal !important;
  }

  .copyright {
    text-align: center;
    padding: 10px;
    background: #000;
    color: #fff;
  }

@media only screen and (max-width: 768px) {
  .copyright {
    font-size: 10px;
  }
}
.flag-logo-wrap {
  display: flex;
  flex-wrap: wrap;
  border: none !important;
  justify-content: space-between;
  margin: 0 -15px !important;
  padding-left: 30px;
}
.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  .footer {
    &-left {
      width: 184px;
    }
    &-right {
      width: calc(100% - 184px);
      padding-left: 55px;
    }
  }
  @include bp(0,'767px') {
    .footer {
      &-left {
        width: 100%;
        margin-bottom: 50px;
          img {
            width: 100px;
          }
      }
      &-right {
        width: 100%;
        padding-left: 0;
        .flag-logo {
          margin: 0;
        }
      }
    }
  }
}
.address-footer {
  &:nth-child(1){
    ul {
      max-width: 434px;
    }
  }
  &:nth-child(2){
    ul {
      max-width: 351px;
      margin-left: auto;
    }
  }
} 
.flag-footer {
  margin-top: 35px;
  span {
    font-size: 12px;
  }
}
@include bp(0,'991px') {
  .address-footer {
    &:nth-child(1){
      ul {
        max-width: 100%;
      }
    }
    &:nth-child(2){
      ul {
        max-width: 100%;
        margin-left: auto;
      }
    }
  } 
  .flag-footer {
    margin-top: 35px;
    span {
      font-size: 12px;
    }
  }
}
@include bp(0,767px) {
  @include bp(0,'991px') {
    .address-footer {
      &:nth-child(1){
        margin-bottom: 30px;
      }
      &:nth-child(2){
        margin-bottom: 30px;
      }
    } 
    .flag-footer {
      margin-top: 0;
    }
  }
}
.copyright {
  font-size: 12px;
  padding: 26px !important;
}