.header {
    div,
    a,
    span {
      font-family: Roboto !important;
      font-style: normal !important;
    }
    .fa-map-marker-alt {
      font-size: 18px;
    }
    .top-bar_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .top-bar {
      background: #000e8e;
      color: #fff;
      padding: 11px 10px;
      padding-bottom: 9px;
      &_hotline {
        width: 213px;
        white-space: nowrap;
      }
      &_lang {
        margin-left: 75px;
      }
    }
    .social-class {
      i {
        color: #fff;
      }

      .fa {
        width: 17px;
        height: 17px;
        line-height: 16px;
        text-align: center;
        border-radius: 100%;
        border: 1px solid #fff;
        margin-right: 10px;
        font-size: 8px;
      }
      ul {
        display: flex;
        padding: 2px 0;
      }
    }

    .languages {
      height: 26px;
      .dropdown-toggle {
        font-size: 12px;
        line-height: 26px;
        color: #fff;
      }
    }

    .info-head {
      margin-left: 10px;
      font-size: 12px;
    }

    .hotline-head {
      width: 182px;
      height: 26px;
      padding: 5pxx 10px;
      border: 1px solid #fff;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      text-transform: uppercase;

      a {
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
    }

    .logo img {
      width: 100%;
      padding: 10px 10px 10px 0;
    }

    .button-download {
      float: right;
    }

    .button-content {
      width: 170px;
      text-align: center;
      float: right;
      border: 1px solid #000e8e;
      margin: 10px 0 10px 0;
      transition: all 500ms ease;

      &:hover {
        box-shadow: 3px 2px #00000038;
      }
    }

    .info-content {
      float: left;
      width: 70%;
      font-weight: 700;
      transform: translateX(8px);
    }

    .img-content {
      width: 30%;
      float: left;
      line-height: 40px;
    }

    nav {
      padding: 0 !important;
      padding-top: 10px !important;

      ul {
        list-style-type: none;
        width: 100%;
        padding: 0;

        li {
          float: left;
          width: auto;
        }
      }
    }

    li.nav-item {
      margin-left: 43px;
      
      &:first-child {
        margin-left: 0;
      }
    }

    a.nav-link {
      color: #000 !important;
      margin: 0 0 0 0 !important;
      position: relative;
      text-transform: uppercase;
    }

    nav ul>li {
      &:last-child {
        padding-right: 0;
      }

      &.active > a,&:hover > a {
        color: #000e8e !important;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          background: #000e8e;
          bottom: 0;
        }
      }

      > a { 
        color: #000;
        padding-bottom: 13px;
        padding-right: 0 !important;
        padding-left: 0 !important;
        
      }
      .dropdown {
        .dropdown-menu {
          left: 50%;
          margin: 0;
          transform: translateX(-50%);
        }        
      }
      @include bp('992px') {
        &:hover {
          .dropdown {
            .dropdown-menu {
              display: block;
              &:hover {
                display: block;
              }
            }
            &:hover {
              .dropdown {
                display: block;
              }
            }
          }
        }
      }
    }

    .button-download {
      text-align: right;
      padding: 0 0 25px 0;
    }
  
  @media only screen and (max-width: 1024px) {
    .info-head {
      font-size: 10px;
    }

    .hotline-head {
      padding: 10px;
      border: 1px solid #fff;
      font-weight: bold;
      position: relative;
      top: 0;
      font-size: 10px;
    }

    a.nav-link {
      margin-right: 31px !important;
    }
  }
  @include bp(0, "991px") {
    .top-bar_wrap {
      text-align: center;
      .left,
      .right {
        width: 100%;
      }
      .right {
        flex-direction: column;
        .top-bar_lang {
          margin: 0;
          width: 100%;
          .d-flex {
            justify-content: space-between;
          }
        }
      }
    }
    .top-bar_address {
      margin-bottom: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .info-head,
    .top-bar .fas {
      font-size: 10px;
    }

    .hotline-topbar {
      text-align: center;
      margin: 10px;

      .hotline-head {
        font-size: 10px;
      }
    }

    .logo {
      text-align: center;

      img {
        width: 50%;
        padding: 30px;
      }
    }

    .button-download,
    .menu {
      width: 50% !important;
    }

    nav {
      text-align: center;
      margin: auto;
      position: relative;
      top: 15px;

      button {
        position: absolute;
        right: 0;
        top: 65px;
      }
    }

    a.nav-link {
      text-align: left;
    }
  }

  @media only screen and (max-width: 375px) {
    .info-head {
      font-size: 9px;
    }

    .button-content {
      width: 155px;
    }
  }

  .navbar {
    position: relative;
    
    .navbar-brand {
      width: 122px;
      @include bp('pc') {
        transform: translateY(-5px);
      }
      img {
        display: block;
      }
    }
    .button-content {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      text-transform: uppercase;
      width: 140px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333333;
    }
    @include bp('991px','1100px') {
      padding-top: 100px !important;
      .collapse {
        white-space: nowrap;
        .navbar-nav {
          justify-content: center !important;
        }
        .nav-item {
          margin: 0 15px !important;
          a {
            margin: 0 !important;
          }
        }
      }
      .navbar-brand {
        position: absolute;
        top: 2px;
        left: 0;
        
      }
      .button-content {
        top: 15px;
      }
    }
    @include bp(0,991px) {
      margin-bottom: 10px;
        .nav-item {
          margin: 0 !important;
        }
    }    
  }

}
