// .ic-face, .ic-youtube, .ic-linkein
// { display: inline-block; background: url('../images/social.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
// .ic-face { background-position: -2px -0px; width: 17px; height: 16px; }
// .ic-youtube { background-position: -2px -18px; width: 17px; height: 16px; }
// .ic-linkein { background-position: -2px -36px; width: 16px; height: 16px; }