.sub-header {
  &.type-01 {
    height: 360px;
    display: flex;
    align-items: flex-end;
    .nav-sub-header {
      margin-bottom: 37px;
      li {
        width: 100%;
        max-width: 394px;
        margin-bottom: 10px;
      }
    }
  }
}
  .nav-tabs-01 {
    position: relative;
    &:after {
      content: "";
      width: 100vw;
      height: 1px;
      background-color: #ccc;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
    }
    a {
      &.nav-link {
        margin: 0 !important;
        text-align: center;
        font-weight: bold;
      }

      &.nav-item {
        border: 1px solid #ccc !important;
        border-radius: 0;
        width: 20%;
        font-size: 14px;
        line-height: 16px;
        padding: 12px 5px;
      }
    }

    .nav-tabs {
      border: none;
      margin-top: -1px;

      .nav-link {
        &.active,
        &:focus,
        &:hover {
          background: #ccc;
        }
      }
    }
  }
  .tab-content.type-01 {
    border: none;
    &:hover {
      background: none;
    }
  }
  .list-sub-structural-systems {
    .c-item {
      margin-bottom: 15px;
      .card-title {
        margin-bottom: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #273A91;
        padding: 12px 0;
      }
    }
  }
  #nav-product-02 {
    padding-top: 48px;
    padding-bottom: 120px;
    h3.title {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      text-align: left !important;
      color: #000E8E;
      margin-bottom: 70px;
    }
  }


@media only screen and (max-width: 1024px) {
  a.nav-link {
    margin-right: 31px !important;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    text-align: center;
    margin: auto;
    position: relative;
    top: 15px;
  }

  a.nav-link {
    text-align: left;
  }
}
