.news {
  .title-lg {
    padding-top: 67px;
  }
  .title-news {
    h3 {
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 7px;
      min-height: 32px;
    }
  }
}
.section-client {
  padding-top: 30px;
  .title-lg {
    padding-top: 82px;
  }
  .title-news {
    h3 {
      font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 7px;
    }
  }
}
.section-project {
  .title-lg {
    padding-top: 82px;
  }
  .title-news {
    h3 {
      font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 7px;
    }
  }
  .block-01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 21px;
    margin-bottom: -10%;
    .img-project {
      width: 45%;
      max-width: 512px;
      margin-bottom: 10%;
    }
  }
  @include bp(0,'768px') {
    .block-01 {
      justify-content: center;
      margin-bottom: 5%;
      padding: 0;
      .img-project {
        width: 100%;
        max-width: 300px;
        min-width: 250px;
      }
    }
  }
}
@include bp('pc') {
  .section-news {
    padding-bottom: 104px;
  }
}
@include bp('sp') {
  .section-news {
    padding-bottom: 50px;
  }
}