
.slick-arrow {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background: rgba(0, 0, 0, 0.1);
  &.slick-prev {
    left: -39px;
    top: 23%;

    &::before {
      content: "\f053";
      font: normal normal normal 16px/1 FontAwesome;
      color: #fff;
    }
  }
  &.slick-next {
    right: -39px;
    top: 23%;

    &::before {
      content: "\f054";
      font: normal normal normal 16px/1 FontAwesome;
      color: #fff;
    }
  }
}

.slider-01 {
  .swiper-pagination {
    position: initial;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: initial;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000000;
    margin-top: 0;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    &:hover {
      background-color: rgba($color: #ffffff, $alpha: 1);
    }
    &:after {
      display: none;
    }
  }
  .swiper-control {
    position: absolute;
    bottom: 40px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 19%;
  }
  .swiper-pagination {
    margin: 0 5px;
    span {
      margin: 0 5px;
    }
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #fff;
      opacity: 0.5;
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }
}
.slick-slider-03 {
  width: 820px;
  margin: 0 auto;
  .slick-arrow {
    width: 17px;
    height: 17px;
    background-color: #fff;
    color: #000;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    &:before {
      color: #000;
      font-size: 10px;
    }
  }
  .slick-slide {
    display: block;
    padding: 0 1px;
    .card {
      margin: 0 29px;
      border-color: transparent;
      transition: all 0.5s;
      .card-text {
        opacity: 0;
        transform: translateY(40px);
        transition: all 0.5s;
        height: 66px;
      }
      .card-title {
        transform: translateY(40px);
        transition: all 0.5s;
      }
    }
    &.slick-center {
      .card {
        border-color: #fff;
        .card-text {
          opacity: 1;
          transform: translateY(0);
        }
        .card-title {
          transform: translateY(0);
        }
      }
    }
  }
}
.slick-slider-04 {
  padding: 0 71px;
  padding-top: 120px;
  padding-bottom: 194px;
  position: relative;
  &::before {
    content: url("../images/product-deco-01.png");
    @include posCenterY();
  }

  &::after {
    content: url("../images/product-deco-02.png");
    @include posCenterY();
    left: auto;
    right: 0;
  }
}
.slick-slider-05 ,.slick-slider-06 {
  max-width: 833px;
  margin: 30px auto;
  .slider-05-nav,.slider-06-nav {
    padding-left: 60px;
    padding-right: 60px;
    .c-item {
      padding: 0 5px;
      margin: 0;
    }
    .slick-arrow.slick-next {
      right: 0;
      color: #000;
      padding-top: 5px;
      &::before {
        color: #000;
      }
    }
    .slick-arrow.slick-prev {
      left: 0;
      color: #000;
      padding-top: 5px;
      &::before {
        color: #000;
      }
    }
  }
  .slider-05-for,.slider-06-for {
    margin-bottom: 13px;
  }
}
.news-slide {
  max-width: 1060px;
  margin: 0 auto;
}
.slider-02 {  
  margin: 0 -21px;
  .item {
    padding: 0 21px;
  }
}
.slick-slider-07 {
  .item {
    padding: 0 23px;
  }
  .slick-arrow.slick-next,
  .slick-arrow.slick-prev {
    top: 50%;
  }
}
@include bp(0,1200px) {
  .slick-arrow.slick-next{
    right: 20px;
    z-index: 99;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
  .slick-arrow.slick-prev {
    left: 20px;
    z-index: 99;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
  .slider-02 .item {
    padding: 0 10px;
  }
}
// @media only screen and (max-width: 1200px) {  
//   .slick-arrow.slick-next {
//     right: 0;
//     top: 23%;
//   }
// }