// Color palette
$color_base : #4b4b4b;

$color_black : #000000;

$color_white : #ffffff;

$color_primary : #ae8ecc;

$color_pink : #ff2c55;

$color_yellow : #fff57e;

$color_teal : #65dac3;

$color_green : #a4bf6e;

$color_gray : #dddddd;

$color_red : #ef5350;

$color_blue : #83c8db;
$color_blue_1 : #daeef4;

$color_brown : #5f4546;

$color_orange : #ebbb72;
$color_orange_1 : #ded2c8;