// Font family

$font_base: 'Roboto', sans-serif;

// Font size (px)
$base_font_size : 16;
$font_size_h1 : 36;
$font_size_h2 : 28;
$font_size_h3 : 18;
$font_size_h4 : 16;
$font_size_h5 : 14;

$base_font_size_sp : 16;
$font_size_h1_sp : 36;
$font_size_h2_sp : 28;
$font_size_h3_sp : 18;
$font_size_h4_sp : 16;
$font_size_h5_sp : 14;

$base_line_height : 26;
$base_line_height_sp : 24;
$opacity_base : 0.5;
$base_letter-spacing : 1.4;

// Border radius
$base_radius : 15px;

// Size content
$width_xs : 350px;
$width_sp : 767px;
$width_small : 800px;
$pc_width_max : 1170px;