@@include('./html/head.html',{ "title": "home", "url": "." }) @@include('./html/header.html',{ "url": "." }) 
<main class="main">
    <section>
      <div class="mv-main">
        <div class="mv-slider">
          <div class="swiper-container slider-01">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="item">
                  <div class="thumbnail text-center">
                    <img src="assets/images/banner1.jpg" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="item">
                  <div class="thumbnail text-center">
                    <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/61/slide-1.png" class="img-fluid"
                      alt="Slider En">
                  </div>
                </div>
              </div>

            </div>

            <div class="swiper-control">
              <div class="swiper-button-prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 col-sm-12 col-md-12 who-we-are">
            <h2 class="title-lg">WHO WE ARE</h2>
            <div class="line-head"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat.</p>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
      <div class="col-12 design-build">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12 box-build text-right">
              <div class="build">
                <div class="image-design">
                  <div class="circle-img">
                    <img src="assets/images/icon-design.png" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="content-design">
                  <h2 class="title-md">DESIGN</h2>
                </div>
                <p class="trimText clamp5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12 box-build">
              <div class="build">
                <div class="image-design">
                  <div class="circle-img">
                    <img src="assets/images/icon-build.png" alt="">
                  </div>
                </div>
                <div class="content-design">
                  <h2 class="title-md">BUILD</h2>
                </div>
                <p class="trimText clamp5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 section-news">
        <div class="container">
          <div class="row">
            <div class="col-12 news">
              <h2 class="title-lg">NEWS</h2>
              <div class="line-head"></div>
              <div class="news-slide mt-70">
                <ul class="slider-02">
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/60/img-1518-558050a1e0e64.jpg"
                        alt="LE URBAN (SINGAPORE) PROJECT AT CAMBODIA">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">LE URBAN (SINGAPORE) PROJECT AT CAMBODIA</h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/du-an-le-urban-singapore-tai-campuchia-1" class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/59/pet-food-2-556fac6a059a9.jpg"
                        alt="PET FOOD PROJECT IN THAILAND">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">PET FOOD PROJECT IN THAILAND</h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/du-an-pet-food-tai-thai-lan.html" class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img
                        src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/58/h74-design-time-watch-factory-25-000-m2-55351cb741f18.jpg"
                        alt="DESIGNTIME INT&#039;L HONGKONG COMPANY -  FACTORY PROJECT AT YANGON">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">DESIGNTIME INT&#039;L HONGKONG COMPANY - FACTORY PROJECT AT YANGON
                        </h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/du-an-nha-may-tai-yangon-hongkong-cong-ty-designtime-intl.html"
                          class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/57/2-552729b3bccb5.jpg"
                        alt="Don Bosco High School  Teuk Thla, Phnom Penh - Cambodia">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">Don Bosco High School Teuk Thla, Phnom Penh - Cambodia</h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/du-an-truong-trung-hoc-don-bosco-teuk-thla-phnom-penh-campuchia.html"
                          class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/56/1-55249bd8ab60a.jpg"
                        alt="Cambrew - Angkor Brewery, the largest and most modern brewery in Cambodia">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">Cambrew - Angkor Brewery, the largest and most modern brewery in
                          Cambodia</h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/nha-may-bia-angkor-cambrew-nha-may-bia-lon-nhat-va-hien-dai-nhat-tai-campuchia.html"
                          class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img
                        src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/55/h11-cp-myanmar-warehouse-20000-551028572eaef.jpg"
                        alt="CP GROUP - FEED MILL PROJECT IN MYANMAR">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">CP GROUP - FEED MILL PROJECT IN MYANMAR</h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/du-an-xay-dung-nha-may-che-bien-thuc-pham-tap-doan-cp-tai-myanmar.html"
                          class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/54/dsc00560-1.jpg"
                        alt="EXTENSION OF KINGMAKER&#039;S FACTORY - CAMBODIA">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">EXTENSION OF KINGMAKER&#039;S FACTORY - CAMBODIA</h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/mo-rong-nha-may-kingmaker-campuchia.html" class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img
                        src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/53/doanhnhanweb-417x317-b43d6b992473cacff51e458ede88f4b9.jpg"
                        alt="BMB STEEL WITH VIETNAMESE BUSINESSMEN&#039;S DAY">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">BMB STEEL WITH VIETNAMESE BUSINESSMEN&#039;S DAY</h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/ngay-doanh-nhan-viet-nam.html" class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img
                        src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/52/khanhthanh2810-275x199-724274fbae76b9b6a68ac9de39a99757.jpg"
                        alt="SAMSUNG MOBILE PHONE FACTORY - ONE OF BMB STEEL PROJECTS IN 2009">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">SAMSUNG MOBILE PHONE FACTORY - ONE OF BMB STEEL PROJECTS IN 2009
                        </h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/nha-may-dien-thoai-samsung-mot-so-du-an-thep-cua-bmb-nam-2009.html"
                          class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="img-news image-cover image-cover--16x9">
                      <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/51/falcon.jpg"
                        alt="FALCON WOODEN FURNITURE FACTORY">
                    </div>
                    <div class="content-news">
                      <div class="title-news">
                        <h3 class="trimText clamp2">FALCON WOODEN FURNITURE FACTORY</h3>
                      </div>
                      <div class="text-news">

                      </div>
                      <div class="readmore-news">
                        <a href="http://localhost:8000/nha-may-go-noi-that-flacon.html" class="btn-gradient">
                          <span>Read more</span>
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 section-project">
        <div class="container">
          <div class="row">
            <div class="col-12 news">
              <h2 class="title-lg">PROJECTS</h2>
              <div class="line-head"></div>
              <div class="block-01">
                <div class="img-project">
                  <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/829/cargillproject-1-5b232e4235c50.jpg"
                    alt="Cargill Project">
                  <a href="http://localhost:8000/cargill-project-920701238.html">Read more <i
                      class="fas fa-caret-right"></i></a>
                  <div class="info-project">
                    <h5>Cargill Project</h5>
                    <p>Owner: </p>
                    <p>The Area: </p>
                    <p>Location: </p>
                    <p>Area: </p>
                  </div>
                </div>
                <div class="img-project">
                  <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/823/cpfactory-6-5df2f5209b747.jpg"
                    alt="C.P Factory">
                  <a href="http://localhost:8000/cp-factory.html">Read more <i class="fas fa-caret-right"></i></a>
                  <div class="info-project">
                    <h5>C.P Factory</h5>
                    <p>Owner: </p>
                    <p>The Area: </p>
                    <p>Location: </p>
                    <p>Area: </p>
                  </div>
                </div>
                <div class="img-project">
                  <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/817/xds-bicycle-3-5de4b2e0e9676.jpg"
                    alt="XDS BICYCLE PROJECT">
                  <a href="http://localhost:8000/xds-bicycle-project.html">Read more <i
                      class="fas fa-caret-right"></i></a>
                  <div class="info-project">
                    <h5>XDS BICYCLE PROJECT</h5>
                    <p>Owner: </p>
                    <p>The Area: </p>
                    <p>Location: </p>
                    <p>Area: </p>
                  </div>
                </div>
                <div class="img-project">
                  <img src="https://dev-cdn.newnetapp.com/bmbsteel/2020/08/812/crownfactory-5-5dc8beb1cdcb5.jpg"
                    alt="Crown Factory">
                  <a href="http://localhost:8000/crown-factory-449213467.html">Read more <i
                      class="fas fa-caret-right"></i></a>
                  <div class="info-project">
                    <h5>Crown Factory</h5>
                    <p>Owner: </p>
                    <p>The Area: </p>
                    <p>Location: </p>
                    <p>Area: </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-12 section-client">
        <div class="container">
          <div class="row">
            <div class="col-12 news">
              <h2 class="title-lg">CLIENTS</h2>
              <div class="line-head"></div>
              <div class="col-12">
                <div class="slide-logo">
                  <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                      <img src="assets/images/logo-kinh-do.png" alt="logo kinh Ä‘Ã´">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                      <img src="assets/images/logo-pepsi.png" alt="logo kinh Ä‘Ã´">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                      <img src="assets/images/logo-lock-lock.png" alt="logo kinh Ä‘Ã´">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                      <img src="assets/images/logo-Urc.png" alt="logo kinh Ä‘Ã´">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                      <img src="assets/images/logo-CJ.png" alt="logo kinh Ä‘Ã´">
                    </div>
                    <div class="col-lg-1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
@@include('./html/footer.html',{ "url": "." })