@@include('./html/head.html',{ "title": "sitemap", "url": "." }) @@include('./html/header.html',{ "url": "." }) 
<main class="main">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ol>
            <li><a href="/" target="_blank">Home page</a></li>
            <li><a href="/company-aboutus.html" target="_blank">company - about us</a></li>
            <li><a href="/company-network-offices.html" target="_blank">company - network - offices</a></li>
            <li><a href="/company-clients-partners.html" target="_blank">company - clients & partners</a></li>
            <li><a href="/service.html" target="_blank">service</a></li>
            <li><a href="/services-safety-quytrinh.html" target="_blank">services-safety-quytrinh</a></li>
            <li><a href="/service-design.html" target="_blank">service - design  01</a></li>
            <li><a href="/service-design-01.html" target="_blank">service - design  02</a></li>
            <li><a href="/service-design-02.html" target="_blank">service - design  03</a></li>
            <li><a href="/service-erection.html" target="_blank">service - erection</a></li>
            <li><a href="/service-fabrication.html" target="_blank">service - fabrication</a></li>
            <li><a href="/services-safety-certificates.html" target="_blank">services - safety - certificates</a></li>
            <li><a href="/services-safety-site.html" target="_blank">services-safety-hinh-anh</a></li>
            <li><a href="/services-safety-video.html" target="_blank">services-safety-video</a></li>
            <li><a href="/services-safety-certificates.html" target="_blank">services-safety- chứng chỉ</a></li>
            <li><a href="/project.html" target="_blank">project</a></li>
            <li><a href="/project-view.html" target="_blank">project-view</a></li>
            <li><a href="/project-view1.html" target="_blank">sproject-view-01</a></li>
            <li><a href="/pr-center-company-news.html" target="_blank">pr center - newsroom - company news</a></li>
            <li><a href="/pr-center-newsroom.html" target="_blank">pr center - newsroom</a></li>
            <li><a href="/pr-center-company-news.html" target="_blank">pr center - newsroom - project news</a></li>
            <li><a href="/pr-center-company-news.html" target="_blank">pr center - newsroom - internal newsletter</a></li>
            <li><a href="/pr-center-company-news.html" target="_blank">pr center - newsroom - social activity news</a></li>
            <li><a href="#!" class="text-danger">pr center - brochure - bmb brochure</a></li>
            <li><a href="#!" class="text-danger">pr center - brochure - project reference</a></li>
            <li><a href="/pr-center-pr-video.html" target="_blank">pr center - pr video</a></li>
            <li><a href="/pr-center-pr-video-detail.html" target="_blank">pr-center-pr-video-detail</a></li>
            <li><a href="/love-school-profile.html" target="_blank">bmb steel love school - profile</a></li>
            <li><a href="/love-school-news-view.html" target="_blank">bmb steel love school - news view</a></li>
            <li><a href="/careers-culture.html" target="_blank">careers - culture</a></li>
            <li><a href="/careers-opportunities.html" target="_blank">careers - opportunities</a></li>
            <li><a href="/careers-opportunities01.html" target="_blank">careers - opportunities 01</a></li>
            <li><a href="/02.html" target="_blank">careers - opportunities 02</a><br><br><br></li>
            <li></li>
            <li><a href="/product/product.html" target="_blank">product</a></li>
            <li><a href="/product/standard-framing-systems_model.html" target="_blank">standard framing systems</a></li>
            <li><a href="/product/standard-framing-systems.html" target="_blank">standard framing systems 01</a></li>
            <li><a href="/product/sub-structural-01.html" target="_blank">sub-structural-01</a></li>
            <li><a href="/product/sub-structural-02.html" target="_blank">sub-structural-02</a></li>
            <li><a href="/product/accessories.html" target="_blank">accessories</a></li>
            <li><a href="/product/accessories-02.html" target="_blank">accessories-02</a></li>
            <li><a href="/product/roof-wall-decking.html" target="_blank">roof-wall-decking</a></li>
            <li><a href="/product/roof-wall-decking1.html" target="_blank">roof-wall-decking1</a></li>
            <li><a href="/product/structural-building-application-01.html" target="_blank">structural-building-application-01</a></li>      
            <li><a href="/product/structural-building-application-02.html" target="_blank">structural-building-application-02</a></li> 
            <li><a href="/product/cliplock.html" target="_blank">cliplock</a></li>
            <li><a href="/product/seam.html" target="_blank">seam</a></li>
            <li><a href="/product/tole.html" target="_blank">tole</a></li>
          </ol>
        </div>
      </div>
    </div>
  </main>
@@include('./html/footer.html',{ "url": "." })