img {
    border: 0;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
}
.image-cover {
    position: relative;
    width: 100%;
    height: 0;
    a {
        display: block;
        height: 100%;
        width: 100%;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100% !important;
        height: 100% !important;
        transform: translate(-50%, -50%);
        object-fit: cover;
        object-position: center;
    }
    &.image--contain {
        .img {
            object-fit: contain;
            object-position: contain;
        }
    }
    &.image--border {
        border: solid 1px #ebebeb;
        border-radius: 4px;
        .img {
            max-width: calc(100% - 6px) !important;
            max-height: calc(100% - 6px) !important;
            border-radius: 4px;
        }
    }
    &.image-cover--1x1 {
        padding-bottom: 100%;
    }
    &.image-cover--cycle {
        padding-bottom: 100%;
        border-radius: 50%;
    }
    &.image-cover--16x9 {
        padding-bottom: 56.25%;
    }
    &.image-cover--19x4 {
        padding-bottom: 66%;
    }
}
.thumb-video {
    position: relative;
    &::after {
        content: "\f04b";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @include posCenter();
        font-size: 40px;
        color: #fff;
    }
}