<main>
    <div class="sub-header type-01" style="background-image: url(&quot;../assets/images/product-img-02.png?browsersync=1596078997594&quot;);">
        <div class="container">
            <div class="nav-sub-header">
                <ul>
                    <li><a href="#">PRE - ENGINEERED STEEL BUILDING</a></li>
                    <li><a href="#">STRUCTURAL BUILDING APPLICATION</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="content-standard access">
        <div class="container">
            <div class="block-01">
                <h2 class="line-bottom mt-5 mb-5 text-uppercase">pre - engineered steel building</h2>
                <div class="nav-tabs-01">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-01" role="tab" aria-controls="nav-company" aria-selected="true">STANDARD FRAMING SYSTEMS</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-02" role="tab" aria-controls="nav-project" aria-selected="false">SUB - STRUCTURAL SYSTEMS</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-03" role="tab" aria-controls="nav-newsletter" aria-selected="false">ROOF, WALL, DECKING PANEL</a>
                            <a class="nav-item nav-link active show" data-toggle="tab" href="#nav-product-04" role="tab" aria-controls="nav-social" aria-selected="false">ACCESSORIES</a>
                        </div>
                    </nav>
                </div>
                <div class="tab-pane fade show active" id="nav-product-02" role="tabpanel">
                    <div class="list-sub-structural-systems row">
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-01.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">louver</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-02.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">stair</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-03.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">handrail</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="list-sub-structural-systems row">
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-04.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">doors</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-05.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">grating</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-06.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">checkered</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" row middle-line"></div>
                    <div class="list-sub-structural-systems row no-border">
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-07.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">downspout hopper</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-08.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">Strap</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-09.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">Skylight trim</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="list-sub-structural-systems row no-border">
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-10.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">Steel Foam</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-11.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">Downspout</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-4 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-12.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">ventilators</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" row middle-line"></div>
                    <div class="list-sub-structural-systems row no-border column02">
                        <div class="c-item col-sm-6 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-13.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">silicon</div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-6 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="../assets/images/acce-img-14.png" alt="" class="img">
                                    </div>
                                    <div class="card-title">screw</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" row middle-line middle-line--no-mb"></div>
                    <div class="access__last-row">
                        <div class="title"> Flashing </div>
                        <div class="list-sub-structural-systems row no-border">
                            <div class="c-item col-md-3 col-sm-6 col-12">
                                <a href="#" class="card card-sub-structural">
                                    <div class="card-body p-1">
                                        <div class="image-cover image-cover--1x1">
                                            <img src="../assets/images/acce-img-15.png" alt="" class="img">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="c-item col-md-3 col-sm-6 col-12">
                                <a href="#" class="card card-sub-structural">
                                    <div class="card-body p-1">
                                        <div class="image-cover image-cover--1x1">
                                            <img src="../assets/images/acce-img-16.png" alt="" class="img">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="c-item col-md-3 col-sm-6 col-12">
                                <a href="#" class="card card-sub-structural">
                                    <div class="card-body p-1">
                                        <div class="image-cover image-cover--1x1">
                                            <img src="../assets/images/acce-img-17.png" alt="" class="img">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="c-item col-md-3 col-sm-6 col-12">
                                <a href="#" class="card card-sub-structural">
                                    <div class="card-body p-1">
                                        <div class="image-cover image-cover--1x1">
                                            <img src="../assets/images/acce-img-18.png" alt="" class="img">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>