<section class="container-fluid pl-0 pr-0 careers oppo oppo01">
    <div class="sub-header">
        <div class="container d-flex flex-column">
            @@include('../main-title.html', {"title": "CAREERS", "margin-left": "m-0"}')
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <a href="#">
                            <li>CULTURE</li>
                        </a>
                        <a href="#">
                            <li>OPPORTUNITIES</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-0 pt-5">
        <div class="row m-0">
            <div class="col-8 p-0">
                <div class="sale-manager">
                    <div class="row ml-0 main-title-box main-title--no-border">
                        <h1 class="main-title p-0 mt-5">Sales Manager</h1>
                    </div>
                    <div class="sale-manager__list">
                        <div class="sale-manager__item">
                            <div class="sale-manager__title">
                                <p>Sales Manager</p>
                            </div>
                            <ul class="sale-manager__content">
                                <li>• Generates and develops new business through customer interaction to meet specified sales goals.</li>
                                <li>• Maintains and nurtures existing client relationships.</li>
                                <li>• Responds to all inquiries and requests in a timely and professional manner.</li>
                                <li>• Plans and manages sales territory with regular reporting to Director</li>
                                <li>• Negotiates contracts and sales orders.</li>
                                <li>• Provide the necessary information to other depts. in the company (Designing, Production, Purchasing, Construction,…) to make project plan.</li>
                                <li>• Coordinate with related departments to execute the project on schedule, technical requirements, quality as committed with customers.</li>
                                <li>• Coordinating the design, production, transportation, and construction phases of the project to suit the company’s operations and available resources</li>
                                <li>• Manage the costs and expenses of the project.</li>
                            </ul>
                        </div>
                        <div class="sale-manager__item">
                            <div class="sale-manager__title">
                                <p>REQUIREMENTS</p>
                            </div>
                            <ul class="sale-manager__content">
                                <li>• Customer service experience</li>
                                <li>• Self motivation with excellent organizational skills</li>
                                <li>• Fluency in English, excellent communication and negotiating skills</li>
                                <li>• Willing to go to business trip/working at sites.</li>
                                <li>• Good in management skills.</li>
                                <li>• Minimum 03 years experience in Sales and Management.</li>
                            </ul>
                        </div>
                        <div class="sale-manager__item">
                            <div class="sale-manager__title">
                                <p>Work Place</p>
                            </div>
                            <div class="sale-manager__text sale-manager__content">
                                <p>Ho Chi Minh, Vietnam</p>
                            </div>
                        </div>
                        <div class="sale-manager__item">
                            <div class="sale-manager__title">
                                <p>Deadline to apply</p>
                            </div>
                            <div class="sale-manager__text sale-manager__content">
                                <p>September 15, 2020</p>
                            </div>
                        </div>
                        <div class="sale-manager__item">
                            <div class="sale-manager__title">
                                <p>For more information, please contact Ms Anh _ HR Department</p>
                                <p>Phone number: +84 79 853 1854</p>
                            </div>
                        </div>
                        <div class="sale-manager__item">
                            <a href="#!" class="sale-manager__title sale-manager__apply">
                                <p>apply for job</p>
                            </a>
                            <div class="sale-manager__contact">
                                <div class="sale-manager__contact-title">
                                    <p>PLEASE COMPLETE THE INFORMATION BELOW (* : REQUIRED)</p>
                                </div>
                                <form class="sale-manager__contact-form" action="">
                                    <div class="row ml-0 mr-0">
                                        <div class="sale-manager__contact-input">
                                            <input type="text">
                                            <p>Full name (<span class="sale-manager__contact-input--red">*</span>)</p>
                                        </div>
                                        <div class="sale-manager__contact-input">
                                            <input type="text">
                                            <p>Email (<span class="sale-manager__contact-input--red">*</span>)</p>
                                        </div>
                                    </div>
                                    <div class="row ml-0 mr-0">
                                        <div class="sale-manager__contact-input">
                                            <input type="text">
                                            <p>Position (<span class="sale-manager__contact-input--red">*</span>)</p>
                                        </div>
                                        <div class="sale-manager__contact-input">
                                            <input type="text">
                                            <p>Phone (<span class="sale-manager__contact-input--red">*</span>)</p>
                                        </div>
                                    </div>
                                    <div class="row ml-0 mr-0 ml-0 mr-0 sale-manager__contact-input sale-manager__contact-textarea pr-0">
                                        <textarea name="Message" id="Message"></textarea>
                                        <p>Message</p>
                                    </div>
                                    <div class="row ml-0 mr-0 ml-0 mr-0 sale-manager__contact-file">
                                        <div class="left">
                                            <p>Attach file (rar,zip,doc,docx,pdf, &lt;1MB)</p>
                                            <button>Select</button>
                                        </div>
                                        <div class="right">
                                            <button type="submit">SUBMIT</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 pl-5 pt-2">
                @@include("../search.html", {"url": "@@url"})
            </div>
        </div>
    </div>
</section>