<section class="container-fluid pl-0 pr-0 careers culture">
    <div class="sub-header">
        <div class="container d-flex flex-column">
            @@include('../main-title.html', {"title": "CAREERS"}')
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">CULTURE</a></li>
                        <li><a href="#">OPPORTUNITIES</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row love d-flex align-items-center m-0">
            <div class="box">
                <img src="@@url/images/careers-love.png" alt="">
                <div class="center">
                    <h3>BMB<br>CULTURE</h3>
                </div>
                <div class="top">
                    <h3>LOVE</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus sagittis ante, ut commodo velit ornare ac. Nullam ut quam elit.</p> -->
                </div>
                <div class="left">
                    <h3>UNITY</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus sagittis ante, ut commodo velit ornare ac. Nullam ut quam elit.</p> -->
                </div>
                <div class="right">
                    <h3>RESPECT</h3>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus sagittis ante, ut commodo velit ornare ac. Nullam ut quam elit.</p> -->
                </div>
            </div>
        </div>

        @@include('../slide-5.html', { "link-img-1": "@@url/images/CP-factory-1.png", "link-img-2": "@@url/images/CP-factory-2.png", "link-img-3": "@@url/images/CP-factory-3.png", "link-img-4": "@@url/images/CP-factory-4.png", "link-img-5": "@@url/images/CP-factory-5.png"
        })
    </div>
</section>