<section class="container-fluid pl-0 pr-0 careers oppo">
    <div class="sub-header">
        <div class="container d-flex flex-column">
            @@include('../main-title.html', {"title": "CAREERS", "margin-left": "m-0"}')
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">CULTURE</a></li>
                        <li><a href="#">OPPORTUNITIES</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-0 pt-5">
        <div class="row m-0">
            <div class="col-8 p-0">
                <div class="manager">
                    @@include('../main-title.html', {"title": "OUR CURRENT OPPORTUNITIES", "margin-left": "ml-0"})
                    <div class="manager__list pr-5">
                        <div class="manager__item">
                            <div class="manager__item-avatar">
                                <img src="@@url/images/careers-avatar.png" alt="avatar">
                            </div>
                            <div class="manager__item-right">
                                <div class="manager__item-title">
                                    <p>PROJECT MANAGER</p>
                                </div>
                                <div class="manager__item-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus sagittis ante, ut commodo velit ornare ac. Nullam ut quam elit. Fusce et semper mi...</p>
                                </div>
                                <div class="manager__item-more">
                                    <i class="manager__item-icon-down fa fa-angle-down" aria-hidden="true"></i>
                                    <a href="#!"><span>More...</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="manager__item">
                            <div class="manager__item-avatar">
                                <img src="@@url/images/careers-avatar.png" alt="avatar">
                            </div>
                            <div class="manager__item-right">
                                <div class="manager__item-title">
                                    <p>PROJECT MANAGER</p>
                                </div>
                                <div class="manager__item-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus sagittis ante, ut commodo velit ornare ac. Nullam ut quam elit. Fusce et semper mi...</p>
                                </div>
                                <div class="manager__item-more">
                                    <i class="manager__item-icon-down fa fa-angle-down" aria-hidden="true"></i>
                                    <a href="#!"><span>More...</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="manager__item">
                            <div class="manager__item-avatar">
                                <img src="@@url/images/careers-avatar.png" alt="avatar">
                            </div>
                            <div class="manager__item-right">
                                <div class="manager__item-title">
                                    <p>PROJECT MANAGER</p>
                                </div>
                                <div class="manager__item-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus sagittis ante, ut commodo velit ornare ac. Nullam ut quam elit. Fusce et semper mi...</p>
                                </div>
                                <div class="manager__item-more">
                                    <i class="manager__item-icon-down fa fa-angle-down" aria-hidden="true"></i>
                                    <a href="#!"><span>More...</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="manager__item">
                            <div class="manager__item-avatar">
                                <img src="@@url/images/careers-avatar.png" alt="avatar">
                            </div>
                            <div class="manager__item-right">
                                <div class="manager__item-title">
                                    <p>PROJECT MANAGER</p>
                                </div>
                                <div class="manager__item-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus sagittis ante, ut commodo velit ornare ac. Nullam ut quam elit. Fusce et semper mi...</p>
                                </div>
                                <div class="manager__item-more">
                                    <i class="manager__item-icon-down fa fa-angle-down" aria-hidden="true"></i>
                                    <a href="#!"><span>More...</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @@include("../pagination.html", {"url": "@@url"})
            </div>
            <div class="col-4 pl-5 pt-2">
                @@include("../search.html", {"url": "@@url"})
            </div>
        </div>
    </div>
</section>