<main>
    <div class="sub-header type-01" style="background-image: url(&quot;assets/images/product-img-02.png?browsersync=1596078997594&quot;);">
        <div class="container">
            <div class="nav-sub-header">
                <ul>
                    <li><a href="#">PRE - ENGINEERED STEEL BUILDING</a></li>
                    <li><a href="#">STRUCTURAL BUILDING APPLICATION</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="content-standard cliplock">
        <div class="container">
            <div class="block-01">
                <h2 class="line-bottom mt-5 mb-5 text-uppercase">pre - engineered steel building</h2>
                <div class="nav-tabs-01">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-01" role="tab" aria-controls="nav-company" aria-selected="true">STANDARD FRAMING SYSTEMS</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-02" role="tab" aria-controls="nav-project" aria-selected="false">SUB - STRUCTURAL SYSTEMS</a>
                            <a class="nav-item nav-link active show" data-toggle="tab" href="#nav-product-03" role="tab" aria-controls="nav-newsletter" aria-selected="false">ROOF, WALL, DECKING PANEL</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-04" role="tab" aria-controls="nav-social" aria-selected="false">ACCESSORIES</a>
                        </div>
                    </nav>
                </div>
                <div class="tab-pane fade show active" id="nav-product-02" role="tabpanel">
                    <div class="list-sub-structural-systems row">
                        <div class="c-item col-sm-12 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="assets/images/cliplock-img-01.png" alt="" class="img">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="c-item col-sm-12 col-12">
                            <a href="#" class="card card-sub-structural">
                                <div class="card-body p-1">
                                    <div class="image-cover image-cover--16x9">
                                        <img src="assets/images/cliplock-img-02.png" alt="" class="img">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>