<section class="client-partners">
    <div class="col-12 sub-header">
        <div class="container">
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">NETWORK</a></li>
                        <li><a href="#">CLIENTS &amp; PARTNERS</a></li>
                        <li><a href="#">COMPANY IDENTITY</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 sc-clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <h1>CLIENTS &amp; PARTNERS</h1>
                    <div class="line-head"></div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="container con-img">
            <div class="row justify-content-center">
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-1.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-2.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-3.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-4.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-5.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-6.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-7.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-8.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-9.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-10.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-11.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-12.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-13.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-14.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-15.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-16.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-17.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-18.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-19.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-20.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-21.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-22.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-23.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-24.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-25.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-26.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-27.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-28.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-29.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-30.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-31.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-32.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-33.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-34.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-35.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-36.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-37.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-38.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-39.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-40.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-41.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-42.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-43.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-44.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-45.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-46.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-47.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-48.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-49.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-50.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-51.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-52.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-53.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-54.png" alt=""></div>
                <div class="col-img"><img class="img-fluid" src="@@url/images/bmb-steel-site-2/logo-client-55.png" alt=""></div>
            </div>	
        </div>
    </div>
</section>