<section class="network-factories">
    <div class="col-12 sub-header">
        <div class="container">
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">NETWORK</a></li>
                        <li><a href="#">CLIENTS &amp; PARTNERS</a></li>
                        <li><a href="#">COMPANY IDENTITY</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 sc-network">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-sm-12 col-md-12 sc-network">
                    <h1>NETWORK</h1>
                    <div class="line-head"></div>
                </div>
                <div class="col-lg-12"></div>
            </div>
        </div>
        <hr style="width: 1440px; margin:0 auto;">
        <div class="container address-network">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 link-network"><a href="#">OFFICES</a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 link-network"><a class="link-network--active" href="#">FACTORIES</a></div>
            </div>
        </div>
        <div class="container list-factories">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <ul>
                        <li><i></i><span>The first factory</span></li>
                        <li>Area: 40.000 sq meters</li>
                        <li>Capacity: 2.000 Ton/month</li>
                        <li>Location: Nam Tan Uyen, Tan Uyen, Binh Duong</li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <img src="@@url/images/fac-1.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="container list-factories">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <ul>
                        <li><i></i><span>The second factory</span></li>
                        <li>Area: 30.000 sq meters </li>
                        <li>Capacity: 1.500 Ton/month</li>
                        <li>Location: Hung Yen, Viet Nam</li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <img src="@@url/images/fac-2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="container list-factories">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <ul>
                        <li><i></i><span>The third factory</span></li>
                        <li>Area: 40.000 sq meters</li>
                        <li>Capacity: 1.500 Ton/month</li>
                        <li>Location: Binh Duong, Viet Nam</li>
                    </ul>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <img src="@@url/images/fac-3.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="cp-factory">
            <div class="container">                
                <div class="slider-cp-factory">
                    <div class="item">
                        <a href="#!">
                            <img src="@@url/images/CP-factory-1.png" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#!">
                            <img src="@@url/images/CP-factory-2.png" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#!">
                            <img src="@@url/images/CP-factory-3.png" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#!">
                            <img src="@@url/images/CP-factory-4.png" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#!">
                            <img src="@@url/images/CP-factory-5.png" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#!">
                            <img src="@@url/images/CP-factory-1.png" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#!">
                            <img src="@@url/images/CP-factory-2.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-getin">
            <div class="container">
                <div class="col-12">
                    <div><span>GET IN TOUCH</span></div>
                    <div><h2>LET’S CREATE SOMETHING TOGETHER!</h2></div>
                    <div class="line-head"></div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <span>HCMC Head Office: 148 Phan Xich Long St., Ward 7, Phu Nhuan Dist., HCMC</span>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <i class="far fa-envelope"></i><span>sales@bmbsteel.com.vn</span>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <i class="fas fa-phone-alt"></i><span>(84-28) 3 5172 509 / 11 - 3 5172 601 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-contact">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="title-form col-lg-12 col-md-12 col-sm-12">
                            <p>INTERESTED ON OUR SERVICES?</p>
                            <h2>WAY TO CONTACT US</h2>
                        </div>
                        <div class="form-column col-lg-12 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <!-- Contact Form -->
                                <div class="contact-form">
                                    <form method="post" action="sendemail.php">
                                        <div class="row">
                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="text" name="username" placeholder="Name" required="">
                                            </div>

                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="text" name="phone" placeholder="Phone" required="">
                                            </div>

                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="email" name="email" placeholder="Email Address" required="">
                                            </div>
                                            
                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="text" name="company" placeholder="Company" required="">
                                            </div>
                                            

                                            <div class="form-group col-lg-12 col-md-12">
                                                <textarea name="message" placeholder="Massage"></textarea>
                                            </div>
                                            
                                            <div class="form-group col-lg-12 col-md-12">
                                                <button class="theme-btn btn-style-one " type="submit" name="submit-form">Send <i class="fas fa-caret-right"></i></button>
                                            </div> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>