<section class="about-us">
    <div class="col-12 sub-header">
        <div class="container">
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">NETWORK</a></li>
                        <li><a href="#">CLIENTS &amp; PARTNERS</a></li>
                        <li><a href="#">COMPANY IDENTITY</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 sc-network">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-sm-12 col-md-12 sc-network">
                    <h1>NETWORK</h1>
                    <div class="line-head"></div>
                </div>
                <div class="col-lg-12"></div>
            </div>
        </div>
        <hr style="width: 1440px; margin:0 auto;">
        <div class="container address-network">
            <div class="row">
                <div class="col-sm-6 col-12 link-network"><a href="#">OFFICES</a></div>
                <div class="col-sm-6 col-12 link-network"><a href="#">FACTORIES</a></div>
            </div>
            <div class="row">
                <img src="@@url/images/network-01-1.png" alt="network-img">
                <div class="sc-address">
                    <div class="col-12">
                        <ul>
                            <li><i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>HCMC HEAD OFFICE</span></li>
                            <li><span>148 Phan Xich Long St., Ward 7, Phu Nhuan Dist., HCMC</span></li>
                            <li><span>Tel: (+84-28) 3 5172 509 / 11 - 3 5172 601</span></li>
                            <li><span>Fax: (+84-28) 3 5172 509 / 11 - 3 5172 601</span></li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <img src="@@url/images/network-01-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-getin">
            <div class="container">
                <div class="col-12">
                    <div><span>GET IN TOUCH</span></div>
                    <div><h2>LET’S CREATE SOMETHING TOGETHER!</h2></div>
                    <div class="line-head"></div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <span>HCMC Head Office: 148 Phan Xich Long St., Ward 7, Phu Nhuan Dist., HCMC</span>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <i class="far fa-envelope" aria-hidden="true"></i><span>sales@bmbsteel.com.vn</span>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <i class="fas fa-phone-alt" aria-hidden="true"></i><span>(84-28) 3 5172 509 / 11 - 3 5172 601 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-contact">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="title-form col-lg-12 col-md-12 col-sm-12">
                            <p>INTERESTED ON OUR SERVICES?</p>
                            <h2>WAY TO CONTACT US</h2>
                        </div>
                        <div class="form-column col-lg-12 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <!-- Contact Form -->
                                <div class="contact-form">
                                    <form method="post" action="sendemail.php">
                                        <div class="row">
                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="text" name="username" placeholder="Name" required="">
                                            </div>

                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="text" name="phone" placeholder="Phone" required="">
                                            </div>

                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="email" name="email" placeholder="Email Address" required="">
                                            </div>
                                            
                                            <div class="form-group col-lg-6 col-md-12">
                                                <input type="text" name="company" placeholder="Company" required="">
                                            </div>
                                            

                                            <div class="form-group col-lg-12 col-md-12">
                                                <textarea name="message" placeholder="Massage"></textarea>
                                            </div>
                                            
                                            <div class="form-group col-lg-12 col-md-12">
                                                <button class="theme-btn btn-style-one " type="submit" name="submit-form">Send <i class="fas fa-caret-right" aria-hidden="true"></i></button>
                                            </div> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>