<section class="company">
    <div class="col-12 sub-header">
        <div class="container">
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">NETWORK</a></li>
                        <li><a href="#">CLIENTS &amp; PARTNERS</a></li>
                        <li><a href="#">COMPANY IDENTITY</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 sc-company">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-sm-12 col-md-12">
                    <h1>COMPANY IDENTITY</h1>
                    <div class="line-head"></div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-12">
                    <div class="title-identity"><span>Clear space specification</span></div>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-12">
                    <div class="col-12">
                        <div class="img-box"><img src="@@url/images/cip-01.png" alt="" class="img-fluid"></div>
                    </div>
                    <div class="col-12">
                        <div class="img-box"><img src="@@url/images/cip-02.png" alt="" class="img-fluid"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-12">
                    <div class="title-identity"><span>Clear space specification</span></div>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-12">
                    <div class="col-12 img-box">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="row">
                                    <ul class="identity-color">
                                        <li class="blue"></li>
                                        <li>
                                            hex: 13499c <br>
                                            c:100 M:83 Y:2 K:0 <br>
                                            rgb: 19,73,156 <br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <ul class="identity-color">
                                        <li class="white"></li>
                                        <li>
                                            hex: 13499c <br>
                                            c:100 M:83 Y:2 K:0 <br>
                                            rgb: 19,73,156 <br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <ul class="identity-color">
                                        <li class="gray"></li>
                                        <li>
                                            hex: 13499c <br>
                                            c:100 M:83 Y:2 K:0 <br>
                                            rgb: 19,73,156 <br>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-12">
                    <div class="title-identity"><span>Clear space specification</span></div>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-12">
                    <div class="col-12">
                        <div class="img-box logo"><img src="@@url/images/logo.png" alt=""></div>
                        <div class="button-download"><a href="#">DOWNLOAD <i class="fas fa-download"
                                    aria-hidden="true"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>