<section class="about-us">
    <div class="col-12 sub-header">
        <div class="container">
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">ABOUT US</a></li>
                        <li><a href="#">NETWORK</a></li>
                        <li><a href="#">CLIENTS &amp; PARTNERS</a></li>
                        <li><a href="#">COMPANY IDENTITY</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 content-aboutus">
        <div class="container sc-about">
            <div class="row">
                <div class="col-lg-3 col-sm-12 col-md-12 widget-about">
                    <ul>
                        <li><h1>ABOUT US</h1></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Vision</a></li>
                        <li><a href="#">Core Values</a></li>
                        <li><a href="#">Mission</a></li>
                    </ul>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-12 images-about">
                    <div class="col-12"><img src="@@url/images/About-Vision-Mission-1.png" alt="About us" class="img-fluid"></div>
                    <div class="col-12"><img src="@@url/images/About-Vision-Mission-2.png" alt="About us" class="img-fluid"></div>
                    <div class="col-12"><img src="@@url/images/About-Vision-Mission-3.png" alt="About us" class="img-fluid"></div>
                    <div class="col-12"><img src="@@url/images/About-Vision-Mission-4.png" alt="About us" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>
</section>