<section>
    <div class="col-12">
        <img src="assets/images/slide-1.png" class="img-fluid" alt="images 1">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-sm-12 col-md-12 who-we-are">
                <h1>WHO WE ARE</h1>
                <div class="line-head"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-lg-12"></div>
        </div>
    </div>
    <div class="col-12 design-build">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="design">
                        <div class="image-design"><img src="assets/images/icon-design.png" alt="" class="img-fluid">
                        </div>
                        <div class="content-design">
                            <h1>DESIGN</h1>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12 box-build">
                    <div class="build">
                        <div class="image-design">
                            <div class="circle-img">
                                <img src="assets/images/icon-build.png" alt="">
                            </div>
                        </div>
                        <div class="content-design">
                            <h2>BUILD</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 section-news">
        <div class="container">
            <div class="row">
                <div class="col-12 news">
                    <h1>NEWS</h1>
                    <div class="line-head"></div>
                    <div class="news-slide mt-70">
                        <ul class="col-12">
                            <div class="row">
                                <li class="col-lg-4 col-sm-12 col-md-12">
                                    <div class="img-news"><img src="assets/images/new-1.png" alt=""></div>
                                    <div class="content-news">
                                        <div class="title-news">
                                            <h3>Lorem Ipsum</h3>
                                        </div>
                                        <div class="text-news">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry...</div>
                                        <div class="readmore-news"><a href="#">Read more</a></div>
                                    </div>
                                </li>
                                <li class="col-lg-4 col-sm-12 col-md-12">
                                    <div class="img-news"><img src="assets/images/new-2.png" alt=""></div>
                                    <div class="content-news">
                                        <div class="title-news">
                                            <h3>Lorem Ipsum</h3>
                                        </div>
                                        <div class="text-news">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry...</div>
                                        <div class="readmore-news"><a href="#">Read more</a></div>
                                    </div>
                                </li>
                                <li class="col-lg-4 col-sm-12 col-md-12">
                                    <div class="img-news"><img src="assets/images/new-3.png" alt=""></div>
                                    <div class="content-news">
                                        <div class="title-news">
                                            <h3>Lorem Ipsum</h3>
                                        </div>
                                        <div class="text-news">Lorem Ipsum is simply dummy text of the printing and
                                            typesetting industry...</div>
                                        <div class="readmore-news"><a href="#">Read more</a></div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 section-project">
        <div class="container">
            <div class="row">
                <div class="col-12 news">
                    <h1>PROJECTS</h1>
                    <div class="line-head"></div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="img-project">
                                    <img src="assets/images/project-img.png" alt="project">
                                    <a href="#">Read more <i class="fas fa-caret-right"></i></a>
                                    <div class="info-project">
                                        <h5>PROJECT NAME</h5>
                                        <p>Owner: RK Steel</p>
                                        <p>The Area: The Others</p>
                                        <p>Location: Myanmar</p>
                                        <p>Area: 30.000 sqm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="img-project">
                                    <img src="assets/images/project-img.png" alt="project">
                                    <a href="#">Read more <i class="fas fa-caret-right"></i></a>
                                    <div class="info-project">
                                        <h5>PROJECT NAME</h5>
                                        <p>Owner: RK Steel</p>
                                        <p>The Area: The Others</p>
                                        <p>Location: Myanmar</p>
                                        <p>Area: 30.000 sqm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="img-project">
                                    <img src="assets/images/project-img.png" alt="project">
                                    <a href="#">Read more <i class="fas fa-caret-right"></i></a>
                                    <div class="info-project">
                                        <h5>PROJECT NAME</h5>
                                        <p>Owner: RK Steel</p>
                                        <p>The Area: The Others</p>
                                        <p>Location: Myanmar</p>
                                        <p>Area: 30.000 sqm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-12">
                                <div class="img-project">
                                    <img src="assets/images/project-img.png" alt="project">
                                    <a href="#">Read more <i class="fas fa-caret-right"></i></a>
                                    <div class="info-project">
                                        <h5>PROJECT NAME</h5>
                                        <p>Owner: RK Steel</p>
                                        <p>The Area: The Others</p>
                                        <p>Location: Myanmar</p>
                                        <p>Area: 30.000 sqm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-12 section-client">
        <div class="container">
            <div class="row">
                <div class="col-12 news">
                    <h1>CLIENTS</h1>
                    <div class="line-head"></div>
                    <div class="col-12">
                        <div class="slide-logo">
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                                    <img src="assets/images/logo-kinh-do.png" alt="logo kinh Ä‘Ã´">
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                                    <img src="assets/images/logo-pepsi.png" alt="logo kinh Ä‘Ã´">
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                                    <img src="assets/images/logo-lock-lock.png" alt="logo kinh Ä‘Ã´">
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                                    <img src="assets/images/logo-Urc.png" alt="logo kinh Ä‘Ã´">
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6 logo-client">
                                    <img src="assets/images/logo-CJ.png" alt="logo kinh Ä‘Ã´">
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>