<section class="container-fluid pl-0 pr-0 love-school profile">
    <div class="row love-school__banner d-flex justify-content-center flex-column m-0">
        <img class="love-school__banner-img" src="@@url/images/love-school/love-school-bg-1.png" alt="logo">
        <div class="love-school__banner-inner">
            <img src="@@url/images/love-school/love-school-logo.png" alt="logo">
            <p>“Together your future begins with us”</p>
        </div>
        <div class="nav-sub-header p-0">
            <div class="row m-0">
                <ul>
                    <li><a href="#">PROFILE</a></li>
                    <li><a href="#">NEWS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @@include('../main-title.html',{ "title": "NEWS", "url": ".", "margin-left": "ml-5" })
    </div>
    <div class="container-fluid">
        <div class="love-school__line w-100"></div>    
    </div>
    <div class="container">
        @@include('../item-news.html',{ 
            "title": "LOREM IPSUM",
            "text": "Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe, the world's leading green coffee service group, was established in 2001 under the name Bero Vietnam. The company was renamed in the year 2005.  BMB Steel is proud to be a...",
            "link-img": "@@url/images/love-school/gray-image.png",
            url: "./assets"
        })
        @@include('../item-news.html',{ 
            "title": "LOREM IPSUM",
            "text": "Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe, the world's leading green coffee service group, was established in 2001 under the name Bero Vietnam. The company was renamed in the year 2005.  BMB Steel is proud to be a...",
            "link-img": "@@url/images/love-school/gray-image.png",
            url: "./assets"
        })
        @@include('../item-news.html',{ 
            "title": "LOREM IPSUM",
            "text": "Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe, the world's leading green coffee service group, was established in 2001 under the name Bero Vietnam. The company was renamed in the year 2005.  BMB Steel is proud to be a...",
            "link-img": "@@url/images/love-school/gray-image.png",
            url: "./assets"
        })
        @@include('../pagination.html',{ "url": "@@url" })
    </div>

    </div>
</section>