<section class="container-fluid pl-0 pr-0 love-school profile">
    <div class="row love-school__banner d-flex justify-content-center flex-column m-0">
        <img class="love-school__banner-img" src="@@url/images/love-school/love-school-bg-1.png" alt="logo">
        <div class="love-school__banner-inner">
            <img src="@@url/images/love-school/love-school-logo.png" alt="logo">
            <p>“Together your future begins with us”</p>
        </div>
        <div class="nav-sub-header p-0">
            <div class="row m-0">
                <ul class="col-lg-8">
                    <a href="#">
                        <li>PROFILE</li>
                    </a>
                    <a href="#">
                        <li>NEWS</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @@include('../main-title.html',{ "title": "NEWS", "url": ".", "margin-left": "ml-5" })
    </div>
    <div class="container-fluid">
        <div class="love-school__line w-100"></div>
    </div>

    <div class="content-prcenter container">
        @@include('../news-view.html',{
            "title": "LOREM IPSUM",
            "time": "Monday, 11-05-2020",
            "text1": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "text2": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "text3": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "link-image": "@@url/images/love-school/gray-image.png"
        })
    </div>

    </div>
</section>