<section class="container-fluid pl-0 pr-0 love-school profile">
    <div class="row love-school__banner d-flex justify-content-center flex-column m-0">
        <img class="love-school__banner-img" src="@@url/images/love-school/love-school-bg-1.png" alt="logo">
        <div class="love-school__banner-inner">
            <img src="@@url/images/love-school/love-school-logo.png" alt="logo">
            <p>“Together your future begins with us”</p>
        </div>
        <div class="nav-sub-header p-0">
            <div class="row m-0">
                <ul>
                    <li><a href="#">PROFILE</a></li>
                    <li><a href="#">NEWS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row m-0 love-school-title">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12 col-md-12 who-we-are">
            <h1>BMB Love School</h1>
            <div class="line-head"></div>
        </div>
    </div>
    <div class="love-school-container love-school-container-1 container-fluid p-0">
        <img class="love-school-container-1__img" src="@@url/images/love-school/love-school-bg-2.png" alt="logo">
        <div class="container p-0">
            <div class="love-school-container-1__text">
                <h3>Who we are</h3>
                <p>
                    <span class="love-school-container-1__text--style">BMB Love School</span> is a non-profit organization, belonging to BMB Steel, to build and create a better educational environment for children disadvantaged areas.
                    <br><br><span class="love-school-container-1__text--style">BMB Love School</span> has started the first activity for 2019, has been working hard to accompany local authorities and volunteers to bring schools and libraries for disadvantaged
                    children, partly helping them overcome obstacles due to their living conditions and circumstances.
                    <br><br><span class="love-school-container-1__text--style">BMB Love School</span> has been the first activity to improve the lives of children and their families around Vietnam and Southeast Asia since 2004. From the small action such
                    as giving gifts and necessities to build many voluntary kitchens in Vietnam, Cambodia, and Myanmar. Since 2019, we started investing in education to create a foundation for children's development rather than immediate help. During
                    the process, we awarded more than 500 scholarships to students, donated tables and chairs, and built schools and libraries in Binh Phuoc, Kon Tum, and Tuyen Quang, Cambodia and Myanmar.
                </p>
            </div>
        </div>
    </div>
    <div class="love-school-container love-school-container-2 container p-0">
        <div class="row m-0">
            <div class="col-lg-8 p-0">
                <img class="w-100" src="@@url/images/love-school/love-school-bg-3.png" alt="logo">
            </div>
            <div class="col-lg-4 love-school-container-2__text">
                <h3>We Believe</h3>
                <p>
                    All children have a right to learn and thrive in a good education environment under our attention and protection - for a better future.
                </p>
            </div>
        </div>
    </div>
    <div class="love-school__line w-100"></div>
    <div class="love-school-container love-school-container-3 container text-center">
        <h3>Our Mission</h3>
        <div class="row d-flex align-items-center justify-content-center love-school-container-3__text">
            <div class="col-lg-4">
                <p>
                    Our mission is to help children in Vietnam and South East Asia is healthy and educated, therefore having the best start in life and a fair chance to reach their full potential. We contribute to creating an environment where every child receives a fulfilling
                    education.
                </p>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-12 p-0">
                <img class="w-100" src="@@url/images/love-school/love-school-bg-4.png" alt="logo">
            </div>
        </div>
    </div>
    <div class="love-school__line w-100"></div>
    <div class="love-school-container love-school-container-2 love-school-container-4 container p-0">
        <div class="row m-0 flex-row-reverse">
            <div class="col-lg-8 p-0">
                <img class="w-100" src="@@url/images/love-school/love-school-bg-5.png" alt="logo">
            </div>
            <div class="col-lg-4 love-school-container-2__text love-school-container-4__text">
                <h3>Our target</h3>
                <p>
                    Each year BMB Love School will build more than 10-20 schools. By our actions, we hope that these activities will spread and inspire everyone.
                </p>
            </div>
        </div>
    </div>
    <div class="love-school-container love-school-container-5">
        <div class="row m-0">
            <div class="col-xl-6 col-lg-12 col-md-12 p-0 love-school-container-5__img">
                <img class="w-100" src="@@url/images/love-school/love-school-bg-6.png" alt="logo">
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 love-school-container-5__text">
                <div class="love-school-container-5__list-history p-0 w-md-unset">
                    <h3>History</h3>
                    <div class="love-school-container-5__history row mr-0 ml-0">
                        <div class="col-3 p-0 love-school-container-5__history-year">2004</div>
                        <div class="col-9 p-0 love-school-container-5__history-detail">Began to implement social activities.</div>
                    </div>
                    <div class="love-school-container-5__history row mr-0 ml-0">
                        <div class="col-3 p-0 love-school-container-5__history-year">2007</div>
                        <div class="col-9 p-0 love-school-container-5__history-detail">Establish a Volunteer Kitchen in Ho Chi Minh City and maintaining social work.</div>
                    </div>
                    <div class="love-school-container-5__history row mr-0 ml-0">
                        <div class="col-3 p-0 love-school-container-5__history-year">2010</div>
                        <div class="col-9 p-0 love-school-container-5__history-detail">Establish a Volunteer Kitchen in Cambodia. Continue to maintain the activities of the Volunteer Kitchen in Ho Chi Minh and social work.</div>
                    </div>
                    <div class="love-school-container-5__history row mr-0 ml-0">
                        <div class="col-3 p-0 love-school-container-5__history-year">2017</div>
                        <div class="col-9 p-0 love-school-container-5__history-detail">Start a tour of scholarship for students in universities around Vietnam, Cambodia, and Myanmar.</div>
                    </div>
                    <div class="love-school-container-5__history row mr-0 ml-0">
                        <div class="col-3 p-0 love-school-container-5__history-year">2019</div>
                        <div class="col-9 p-0 love-school-container-5__history-detail">Establish BMB Love School and activities focused on supporting education for children in disadvantaged areas. Continue to develop and maintain other social work.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>