<section class="prcenter newsroom">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5">PR CENTER</h2>
            </div>
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">NEWSROOM</a></li>
                       <li> <a href="#">BROCHURE</a></li>
                        <li><a href="#">PR VIDEO</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="content-prcenter">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5 mb-5">BROCHURE</h2>
            </div>
        </div>
        <div class="content-newsroom">
            <div class="container">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-company" role="tab" aria-controls="nav-company" aria-selected="true">BMB brochure</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-project" role="tab" aria-controls="nav-project" aria-selected="false">Project Reference</a>
                  </div>
                </nav>
                <div class="tab-content p-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-company" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row mt-4">
                            <div class="col-lg-6 col-md-12 col-sm-12 pr-5 pl-0">
                                <div class="row">
                                    <img src="@@url/images/prcenter/post-list-brochure.png">
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-8 text-left p-0"><p class="p-title">ENGLISH BROCHURE</p></div>
                                    <div class="col-4 text-right button-read-down p-0">
                                        <a href="#">Read more <i class="fas fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fas fa-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 pl-5 pr-0">
                                <div class="row">
                                    <img src="@@url/images/prcenter/post-list-brochure.png">
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-8 text-left p-0"><p class="p-title">CHINESE BROCHURE</p></div>
                                    <div class="col-4 text-right button-read-down p-0">
                                        <a href="#">Read more <i class="fas fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fas fa-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-project" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row mt-4">
                            <div class="col-md-4 col-sm-12 item">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="@@url/images/prcenter/post-list-brochure.png">
                                    </div>
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-12 text-left"><p class="p-title">ENGLISH BROCHURE</p></div>
                                    <div class="col-12 text-left button-read-down">
                                        <a href="#">Read more <i class="fas fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fas fa-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 item">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="@@url/images/prcenter/post-list-brochure.png">
                                    </div>
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-12 text-left"><p class="p-title">ENGLISH BROCHURE</p></div>
                                    <div class="col-12 text-left button-read-down">
                                        <a href="#">Read more <i class="fas fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fas fa-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 item">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="@@url/images/prcenter/post-list-brochure.png">
                                    </div>
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-12 text-left"><p class="p-title">ENGLISH BROCHURE</p></div>
                                    <div class="col-12 text-left button-read-down">
                                        <a href="#">Read more <i class="fas fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fas fa-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 item">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="@@url/images/prcenter/post-list-brochure.png">
                                    </div>
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-12 text-left"><p class="p-title">ENGLISH BROCHURE</p></div>
                                    <div class="col-12 text-left button-read-down">
                                        <a href="#">Read more <i class="fas fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fas fa-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 item">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="@@url/images/prcenter/post-list-brochure.png">
                                    </div>
                                </div>
                                <div class="row mt-4 mb-4">
                                    <div class="col-12 text-left"><p class="p-title">ENGLISH BROCHURE</p></div>
                                    <div class="col-12 text-left button-read-down">
                                        <a href="#">Read more <i class="fas fa-caret-right" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fas fa-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>