<section class="prcenter newsroom">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5">PR CENTER</h2>
            </div>
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#" class="active">
                            NEWSROOM
                        </a></li>
                        <li><a href="#">
                            BROCHURE
                        </a></li>
                        <li><a href="#">
                            PR VIDEO
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-prcenter">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5 mb-5">NEWSROOM</h2>
            </div>
            <div class="row content-prcenter__title">
                <p>LOREM IPSUM</p>
            </div>
            <div class="row mb-4 mt-1 content-prcenter__time">
                <p>Monday, 11-05-2020</p>
            </div>
            <div class="content-prcenter-text">
                <div class="row mb-3 content-prcenter-text__content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="row mt-3 mb-3">
                    <img src="@@url/images/prcenter/content-prcenter.png" alt="content-prcenter">
                </div>
                <div class="row content-prcenter-text__last">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>