<section class="prcenter newsroom">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5">PR CENTER</h2>
            </div>
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">
                            NEWSROOM
                        </a></li>
                        <li><a href="#">
                            BROCHURE
                        </a></li>
                        <li><a href="#">
                            PR VIDEO
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-prcenter">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5 mb-5 ml-4">PR VIDEO</h2>
            </div>
        </div>
        <div class="content-newsroom">
            <div class="container pt-5">
                <div class="row pb-4">
                    <div class="col-lg-4 col-md-12 col-sm-12 pl-0 pr-4">
                        <div class="pr-video">
                            <a class="d-block thumb-video" data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
                                <div class="image-cover image-cover--16x9">
                                    <img class="img" src="https://img.youtube.com/vi/_sI_Ps7JSEk/mqdefault.jpg">
                                </div>
                            </a>
                            <p class="title-v">ENGLISH</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="pr-video">
                            <a class="d-block thumb-video" data-fancybox="" href="https://www.youtube.com/watch?v=5Peo-ivmupE">
                                <div class="image-cover image-cover--16x9">
                                    <img class="img" src="https://img.youtube.com/vi/5Peo-ivmupE/mqdefault.jpg">
                                </div>
                            </a>
                            <p class="title-v">VIETNAMESE</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 pr-0 pl-4">
                        <div class="pr-video">
                            <a class="d-block thumb-video" data-fancybox="" href="https://www.youtube.com/watch?v=5Peo-ivmupE">
                                <div class="image-cover image-cover--16x9">
                                    <img class="img" src="https://img.youtube.com/vi/5Peo-ivmupE/mqdefault.jpg">
                                </div>
                            </a>
                            <p class="title-v">CHINESE</p>
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-lg-4 col-md-12 col-sm-12 pl-0 pr-4">
                        <div class="pr-video">
                            <a class="d-block thumb-video" data-fancybox="" href="https://www.youtube.com/watch?v=5Peo-ivmupE">
                                <div class="image-cover image-cover--16x9">
                                    <img class="img" src="https://img.youtube.com/vi/5Peo-ivmupE/mqdefault.jpg">
                                </div>
                            </a>
                            <p class="title-v">THAILAND</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="pr-video">
                            <a class="d-block thumb-video" data-fancybox="" href="https://www.youtube.com/watch?v=5Peo-ivmupE">
                                <div class="image-cover image-cover--16x9">
                                    <img class="img" src="https://img.youtube.com/vi/5Peo-ivmupE/mqdefault.jpg">
                                </div>
                            </a>
                            <p class="title-v">MYANMAR</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>