<section class="prcenter newsroom">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5">PR CENTER</h2>
            </div>
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">
                            NEWSROOM
                        </a></li>
                        <li><a href="#">
                            BROCHURE
                        </a></li>
                        <li><a href="#">
                            PR VIDEO
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-prcenter">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5 mb-5">NEWSROOM</h2>
            </div>
        </div>
        <div class="content-newsroom">
            <div class="container">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-company"
                            role="tab" aria-controls="nav-company" aria-selected="true">Company News</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-project"
                            role="tab" aria-controls="nav-project" aria-selected="false">Project News</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-newsletter"
                            role="tab" aria-controls="nav-newsletter" aria-selected="false">Internal Newsletter</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-social"
                            role="tab" aria-controls="nav-social" aria-selected="false">Social Activity News</a>
                    </div>
                </nav>
                <div class="tab-content p-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-company" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/list-item.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/list-item.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/list-item.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <ul class="pagination">
                                <li><i class="fa fa-caret-left" aria-hidden="true"></i></li>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>...</li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-project" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-project.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-project.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-project.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <ul class="pagination">
                                <li><i class="fa fa-caret-left" aria-hidden="true"></i></li>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>...</li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-newsletter" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-newsletter.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-newsletter.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-newsletter.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <ul class="pagination">
                                <li><i class="fa fa-caret-left" aria-hidden="true"></i></li>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>...</li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-social" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-social.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-social.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <img src="@@url/images/prcenter/post-list-social.png">
                            </div>
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <p class="p-title">LOREM IPSUM </p>
                                <p class="p-content">Neumann Gruppe Vietnam LTD. is a company of Neumann Kaffee Gruppe,
                                    the world's leading green coffee service group, was established in 2001 under the
                                    name Bero Vietnam. The company was renamed in the year 2005. BMB Steel is proud to
                                    be a...</p>
                                <p class="p-button"><a href="#">Read more <i class="fas fa-caret-right"
                                            aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                        <div class="row m-4">
                            <ul class="pagination">
                                <li><i class="fa fa-caret-left" aria-hidden="true"></i></li>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>...</li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>