<section class="prcenter newsroom">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5">PR CENTER</h2>
            </div>
            <div class="row">
                <div class="nav-sub-header">
                    <ul>
                        <li><a href="#">
                            NEWSROOM
                        </a></li>
                        <li><a href="#">
                            BROCHURE
                        </a></li>
                        <li><a href="#" class="active">
                            PR VIDEO
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-prcenter">
        <div class="container">
            <div class="row">
                <h2 class="line-bottom mt-5 mb-5">PR VIDEO</h2>
            </div>
        </div>
        <div class="content-newsroom">
            <div class="container pt-5">
                <div class="row pb-4">
                    <div class="col-12">
                        <div class="pr-video-detail">
                            <p class="title-detail">ENGLISH</p>
                            <p class="item-detail">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5Peo-ivmupE" allowfullscreen></iframe>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>