<section class="project view1">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <h1 class="mx-auto mt-5 mb-0">PROJECT</h1>
            </div>
            <div class="row">
                <p class="mx-auto mt-4 text-1">YOUR IDEAS -OUR CHALLENGES</p>
            </div>
            <div class="row">
                <p class="mx-auto mt-4 text-2">TOGETHER WE BUILD THE BETTER FUTURE</p>
            </div>
            <div class="row py-4">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <h3 class="title-header">Typical Structural</he>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <select name="all-projects">
                        <option value="all">AlL Projects</option>
                        <option value="project-1">Project 1</option>
                        <option value="project-2">Project 2</option>
                        <option value="project-3">Project 3</option>
                    </select>
                    <select name="localtion">
                        <option value="all">Location</option>
                        <option value="local-1">Location 1</option>
                        <option value="local-2">Location 2</option>
                        <option value="local-3">Location 3</option>
                    </select>
                    <div class="c-search"><input type="text" placeholder="Search..."><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-project">
        <div class="container">
            <div class="c-breadcrumb">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#!">Home</a></li>
                    <li class="list-inline-item"><a href="#!">Project</a></li>
                    <li class="list-inline-item"><span>Typical Structural</span></li>
                  </ul>
            </div>
        </div>
        <hr class="hr_gray">
        <div class="container">
            <div class="row view1__list align-content-center justify-content-between">
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-1.png" alt="">
                    <p>90m clear span</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-2.png" alt="">
                    <p>Canopy 25m width</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-3.png" alt="">
                    <p>JACK BEAM 45.5 m length</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-4.png" alt="">
                    <p>150 Ton CRANE </p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-5.png" alt="">
                    <p>300 Ton Crane</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-6.png" alt="">
                    <p>60 m length Jack Beam erected</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-7.png" alt="">
                    <p>Xuan Thanh cement - cantiliver storage</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-8.png" alt="">
                    <p>TRUSS CANOPY with 20m width</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-9.png" alt="">
                    <p>40m Jack Beam - No Mid Column</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-10.png" alt="">
                    <p>20m Canopy</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-11.png" alt="">
                    <p>Crane 50T</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-12.png" alt="">
                    <p>Roof extension wide 27m</p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-13.png" alt="">
                    <p>Joist L=18m </p>
                </div>
                <div class="view1__item col-lg-3">
                    <img src="@@url/images/pr-view1/pr-view1-14.png" alt="">
                    <p>Clear Span 140m</p>
                </div>
                <div class="view1__item view1__item--none col-lg-3 d-lg-block d-md-none"></div>
            </div>
        </div>
    </div>
</section>