<section class="project">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <h1 class="mx-auto mt-5 mb-0">PROJECT</h1>
            </div>
            <div class="row">
                <p class="mx-auto mt-4 text-1">YOUR IDEAS -OUR CHALLENGES</p>
            </div>
            <div class="row">
                <p class="mx-auto mt-4 text-2">TOGETHER WE BUILD THE BETTER FUTURE</p>
            </div>
            <div class="row py-4">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <h3 class="title-header">Typical Structural</he>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <select name="all-projects">
                        <option value="all">AlL Projects</option>
                        <option value="project-1">Project 1</option>
                        <option value="project-2">Project 2</option>
                        <option value="project-3">Project 3</option>
                    </select>
                    <select name="localtion">
                        <option value="all">Location</option>
                        <option value="local-1">Location 1</option>
                        <option value="local-2">Location 2</option>
                        <option value="local-3">Location 3</option>
                    </select>
                    <div class="c-search"><input type="text" placeholder="Search..."><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-project">
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-4 col-sm-12 col-md-12 item pr-5 pt-4 pl-0 pb-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 item p-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 item pr-0 pt-4 pl-5 pb-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-md-12 item pr-5 pt-4 pl-0 pb-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 item p-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 item pr-0 pt-4 pl-5 pb-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-4 col-sm-12 col-md-12 item pr-5 pt-4 pl-0 pb-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 item p-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-12 item pr-0 pt-4 pl-5 pb-4">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
            </div>
            @@include('../pagination.html',{ "url": "." })
        </div>
    </div>
</section>