<section class="project view">
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <h1 class="mx-auto mt-5 mb-0">PROJECT</h1>
            </div>
            <div class="row">
                <p class="mx-auto mt-4 text-1">YOUR IDEAS -OUR CHALLENGES</p>
            </div>
            <div class="row">
                <p class="mx-auto mt-4 text-2">TOGETHER WE BUILD THE BETTER FUTURE</p>
            </div>
            <div class="row py-4">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <h3 class="title-header">Typical Structural</he>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <select name="all-projects">
                        <option value="all">AlL Projects</option>
                        <option value="project-1">Project 1</option>
                        <option value="project-2">Project 2</option>
                        <option value="project-3">Project 3</option>
                    </select>
                    <select name="localtion">
                        <option value="all">Location</option>
                        <option value="local-1">Location 1</option>
                        <option value="local-2">Location 2</option>
                        <option value="local-3">Location 3</option>
                    </select>
                    <div class="c-search"><input type="text" placeholder="Search..."><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-project">
        <div class="container">
            <div class="c-breadcrumb">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#!">Home</a></li>
                    <li class="list-inline-item"><a href="#!">Project</a></li>
                    <li class="list-inline-item"><span>Typical Structural</span></li>
                  </ul>
            </div>
        </div>
        <hr class="hr_gray">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="slick-slider-05 mt-0">
                        <div class="slider-05-for">
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/833x480.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="slider-05-nav">
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="c-item">
                                <div class="thumbnail">
                                    <img src="https://via.placeholder.com/170x104.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row text-left">
                <h3 class="line-bottom pt-4">Related Projects</h3>
            </div>
            <div class="slick-slider-07 py-4">
                <div class="item">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>                
                <div class="item">
                    <div class="item-img">
                        <img src="@@url/images/project-img-1.png" alt="">
                    </div>
                    <div class="item-content">
                        <ul>
                            <li>
                                <h3>Lorem Ipsum</h3>
                            </li>
                            <li><span>Project name:</span> Neumann Coffee Factory</li>
                            <li><span>Area:</span> 30.000 sqm</li>
                            <li><span>Owner:</span> Neumann Gruppe Vietnam</li>
                            <li><span>Location:</span> Vietnam</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>