<main>
    <div class="sub-header type-01"
        style="background-image: url(&quot;assets/images/product-img-02.png?browsersync=1596078997594&quot;);">
        <div class="container">
            <div class="nav-sub-header">
                <ul>
                    <li><a href="#">PRE - ENGINEERED STEEL BUILDING</a></li>
                    <li><a href="#">STRUCTURAL BUILDING APPLICATION</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="content-standard">
        <div class="container">
            <div class="block-01">
                <h2 class="line-bottom mt-5 mb-5 text-uppercase">pre - engineered steel building</h2>
                <div class="nav-tabs-01">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-01" role="tab"
                                aria-selected="true">MODEL</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-01" role="tab"
                                aria-selected="true">STANDARD FRAMING SYSTEMS</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-02" role="tab"
                                aria-selected="false">SUB - STRUCTURAL SYSTEMS</a>
                            <a class="nav-item nav-link active show" data-toggle="tab" href="#nav-product-03" role="tab"
                                aria-selected="false">ROOF, WALL, DECKING PANEL</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-04" role="tab"
                                aria-selected="false">ACCESSORIES</a>
                        </div>
                    </nav>
                </div>
                <div class="row rwd">
                    <div class="col-4">
                        @@include('../sub-title.html', {"title": "DECKING, STUB, CREW"}')
                        <div class="c-menu">
                            <div class="c-item active">
                                <a href="#rwd-content-01">DESCRIPTION</a>
                            </div>
                            <div class="c-item">
                                <a href="#rwd-content-02">TECHNICAL CONCERN </a>
                            </div>
                            <div class="c-item">
                                <a href="#rwd-content-03">HEADED STUD </a>
                            </div>
                            <div class="c-item">
                                <a href="#rwd-content-04">SCREWS</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 mb-5">
                        <div id="rwd-content-01" class="rwd-content">
                            <div class="rwd-content__text">
                                <p>
                                    BMB DECK functions as formworks in construction stage and combined with reinforced
                                    concrete as composite slab in completed stage. There are many transversal
                                    embossments distributted equally along longitudinal panel which increasing the
                                    stiffness as well as strength of decking panel.
                                </p>
                                <p>
                                    BMB DECK is designed following codes : ANSI-C2017 Standard for Composite Steel Floor
                                    Deck-Slabs and AISI S100 North American Specification for the Design of Cold-Formed
                                    Steel Structural Members.
                                </p>
                                <p>
                                    BMB decking panel shall have 50mm/75mm deep major ribs and are spaced 334mm/287mm on
                                    center. Additional minor stiffening ribs are located in the middle of major ribs.
                                    Each panel shall provide 1000mm/870mm cover width and thickness 0.75mm, 0.95mm,
                                    1.15mm.
                                </p>
                            </div>
                            <div class="c-table">
                                <table class="c-table--4">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>H<br>(mm)</th>
                                            <th>S<br>(mm)</th>
                                            <th>W<br>(mm)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="c-table--bold">B=1000 ; hr=50</td>
                                            <td>50</td>
                                            <td>334</td>
                                            <td>166</td>
                                        </tr>
                                        <tr>
                                            <td class="c-table--bold">B=870 ; hr=75</td>
                                            <td>75</td>
                                            <td>287</td>
                                            <td>148</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="c-table__footer">
                                    <p>Table 1. Size of BMB DECK.</p>
                                </div>
                            </div>
                            <div class="rwd-content__slide">
                                <img src="@@url/images/rwd-img-01.png" alt="">
                            </div>
                        </div>
                        <div class=" row middle-line"></div>
                        <div id="rwd-content-02" class="rwd-content">
                            <div class="rwd-content__text">
                                <p>
                                    Level of top concrete slab and desirable thickness of slab as well as live load in
                                    special cases will be provided by owner in order to design structures. The
                                    structures carrying slab and load above slab is one-way decking, joist, main beam
                                    and column.
                                </p>
                            </div>
                            <div class="row rwd-content__sub-img">
                                <div class="col-10">
                                    <img src="@@url/images/rwd-img-02.png" alt="">
                                </div>
                                <div class="rwd-content__sub-img-sub">
                                    <p>Figure 2. Illustration of slab decking.</p>
                                </div>
                            </div>
                            <div class="rwd-content__text">
                                <p>
                                    BMB DECK is designed in 2 stages : first case is in construction, when reinforced
                                    concrete is not bearing the load, decking must carry the construction load as well
                                    as reinforced concrete and decking self-weight. Second case is in completed slab,
                                    which means reinforced concrete paticipates in carrying the live load as well as
                                    slab self-weight ; hence, decking and reinforced concrete work as composite slab. In
                                    second case, reinforced concrete must be designed to carry live load.
                                </p>
                            </div>
                            <div class="c-table">
                                <table class="c-table--7">
                                    <thead>
                                        <tr>
                                            <th>Decking thickness</th>
                                            <th>Coating mass</th>
                                            <th>Moment of inertia</th>
                                            <th>Section modulus</th>
                                            <th>Live load on floor</th>
                                            <th>Slab thickness</th>
                                            <th>Maximum distance<br>between joist</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>mm</td>
                                            <td>g/m<sup>2</sup></td>
                                            <td>J<sub>x</sub> (cm<sup>4</sup>)</td>
                                            <td>S<sub>x</sub> (cm<sup>3</sup>)</td>
                                            <td>(Kg/m<sup>2</sup>)</td>
                                            <td>mm</td>
                                            <td>m</td>
                                        </tr>
                                        <tr>
                                            <td>0.75</td>
                                            <td>Z120</td>
                                            <td>46.57</td>
                                            <td>1.82</td>
                                            <td>500</td>
                                            <td>120</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <td>0.95</td>
                                            <td>Z120</td>
                                            <td>58.79</td>
                                            <td>2.29</td>
                                            <td>500</td>
                                            <td>120</td>
                                            <td>2.25</td>
                                        </tr>
                                        <tr>
                                            <td>1.15</td>
                                            <td>Z120</td>
                                            <td>70.93</td>
                                            <td>2.77</td>
                                            <td>1000</td>
                                            <td>150</td>
                                            <td>2.25</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="c-table__footer">
                                    <p>Table 2. Geometry properties of decking type B=1000 ; hr=50.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" row middle-line"></div>
                        <div id="rwd-content-03" class="rwd-content">
                            <div class="rwd-content__text">
                                <p>
                                    As transversal embossments distributted equally along longitudinal panel, upper
                                    concrete slab could not be slipped because of friction force. Studs is used to
                                    increase ability of adhesive strength and slip-agaisnt between decking and upper
                                    concrete slab, simultaneously, studs maintain combination of joist and decking slab
                                    behaviour as composite beam.
                                </p>
                                <p>
                                    Studs are welded to steel beam by using a stud arc-welding machine. Connection area
                                    between studs and steel beam will be melted rapidly and the machine will press the
                                    studs down to this area. This process is supported by ceramic arc shield, called
                                    ferrule, which surrounds the connection to contain the melted metal and shield the
                                    arc.
                                </p>
                            </div>
                            <div class="row rwd-content__sub-img">
                                <div class="col-10">
                                    <img src="@@url/images/rwd-img-03.png" alt="">
                                </div>
                                <div class="rwd-content__sub-img-sub rwd-content__sub-img-sub--pt">
                                    <p>Figure 3. Stud and ferrule.</p>
                                </div>
                            </div>
                            <div class="row rwd-content__sub-img">
                                <div class="col-10">
                                    <img src="@@url/images/rwd-img-04.png" alt="">
                                </div>
                                <div class="rwd-content__sub-img-sub">
                                    <p>Figure 4. Reality decking and studs in construction site.</p>
                                </div>
                            </div>
                        </div>
                        <div class=" row middle-line"></div>
                        <div id="rwd-content-04" class="rwd-content">
                            <div class="rwd-content__text">
                                <p>
                                    The decking is fastenned to steel beam by hexagonal head screw.
                                </p>
                                <p>
                                    Fastener is always chose with sufficient threads to fully engage in the base metal.
                                    For attachments to 1/4” (6.35 mm) base steel, a self-drilling screw should have at
                                    least 1/4” (6.35 mm) of threads. It is helpful, but not critical, that the threads
                                    also engage in the material being fastened. The head of the fastener provides the
                                    bearing force for material being fastenned, while the threads provide the clamping
                                    force in base material.

                                </p>
                            </div>
                            <div class="row rwd-content__sub-img">
                                <div class="col-10">
                                    <img src="@@url/images/rwd-img-05.png" alt="">
                                </div>
                                <div class="rwd-content__sub-img-sub rwd-content__sub-img-sub--pt">
                                    <p>Figure 5. Illustration of screw.</p>
                                </div>
                            </div>
                            <div class="c-table table-striped mb-5">
                                <table class="c-table--6">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Screw Designation</th>
                                            <th rowspan="2">
                                                <span class="pb-1">Nominal Diameter</span><br class="p-3"><span>(in.)</span>
                                            </th>
                                            <th colspan="4">Nominal Fastener Strength Section modulus</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="w-25 white">Tension, P<sub>ts</sub><br>lb (kN)</th>
                                            <th colspan="2" class="white">Shear, P<sub>ss</sub><br>lb (kN)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#6-20</td>
                                            <td>0.138</td>
                                            <td class="border-right-0">1000</td>
                                            <td class="border-left-0">(4.45)</td>
                                            <td class="border-right-0">890</td>
                                            <td class="border-left-0">(3.96)</td>
                                        </tr>
                                        <tr>
                                            <td>#7-18</td>
                                            <td>0.151</td>
                                            <td class="border-right-0">1000</td>
                                            <td class="border-left-0">(4.45)</td>
                                            <td class="border-right-0">890</td>
                                            <td class="border-left-0">(3.96)</td>
                                        </tr>
                                        <tr>
                                            <td>#8-18</td>
                                            <td>0.164</td>
                                            <td class="border-right-0">1000</td>
                                            <td class="border-left-0">(4.45)</td>
                                            <td class="border-right-0">1170</td>
                                            <td class="border-left-0">(5.20)</td>
                                        </tr>
                                        <tr>
                                            <td>#10-12</td>
                                            <td>0.190</td>
                                            <td class="border-right-0">2170</td>
                                            <td class="border-left-0">(9.65)</td>
                                            <td class="border-right-0">1645</td>
                                            <td class="border-left-0">(7.32)</td>
                                        </tr>
                                        <tr>
                                            <td>#10-16</td>
                                            <td>0.190</td>
                                            <td class="border-right-0">1370</td>
                                            <td class="border-left-0">(6.09)</td>
                                            <td class="border-right-0">1215</td>
                                            <td class="border-left-0">(5.40)</td>
                                        </tr>
                                        <tr>
                                            <td>#10-18</td>
                                            <td>0.190</td>
                                            <td class="border-right-0">1390</td>
                                            <td class="border-left-0">(6.18)</td>
                                            <td class="border-right-0">1645</td>
                                            <td class="border-left-0">(7.32)</td>
                                        </tr>
                                        <tr>
                                            <td>#12-14</td>
                                            <td>0.216</td>
                                            <td class="border-right-0">2325</td>
                                            <td class="border-left-0">(10.34)</td>
                                            <td class="border-right-0">1880</td>
                                            <td class="border-left-0">(8.36)</td>
                                        </tr>
                                        <tr>
                                            <td>#12-24</td>
                                            <td>0.216</td>
                                            <td class="border-right-0">3900</td>
                                            <td class="border-left-0">(17.35)</td>
                                            <td class="border-right-0">2285</td>
                                            <td class="border-left-0">(10.16)</td>
                                        </tr>
                                        <tr>
                                            <td>¼ in.</td>
                                            <td>0.250</td>
                                            <td class="border-right-0">4580</td>
                                            <td class="border-left-0">(20.37)</td>
                                            <td class="border-right-0">2440</td>
                                            <td class="border-left-0">(10.85)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="c-table__footer">
                                    <p>Table 3. Nominal Ultimate Fastener Strength of Screw.</p>
                                </div>
                            </div>
                            <div class="c-table table-striped">
                                <table class="c-table--2">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th colspan="2">
                                                <span class="pb-1">Min. Torsional Strength</span><br class="p-3"><span>in-lb (Nm)</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>6-20</td>
                                        <td>24</td>
                                        <td>(2.7)</td>
                                    </tr>
                                    <tr>
                                        <td>7-18</td>
                                        <td>38</td>
                                        <td>(4.3)</td>
                                    </tr>
                                    <tr>
                                        <td>8-18</td>
                                        <td>42</td>
                                        <td>(4.8)</td>
                                    </tr>
                                    <tr>
                                        <td>10-12</td>
                                        <td>61</td>
                                        <td>(6.9)</td>
                                    </tr>
                                    <tr>
                                        <td>10-16</td>
                                        <td>61</td>
                                        <td>(6.9)</td>
                                    </tr>
                                    <tr>
                                        <td>10-18</td>
                                        <td>61</td>
                                        <td>(6.9)</td>
                                    </tr>
                                    <tr>
                                        <td>10-24</td>
                                        <td>65</td>
                                        <td>(7.3)</td>
                                    </tr>
                                    <tr>
                                        <td>12-14</td>
                                        <td>92</td>
                                        <td>(10.4)</td>
                                    </tr>
                                    <tr>
                                        <td>12-24</td>
                                        <td>100</td>
                                        <td>(11.3)</td>
                                    </tr>
                                    <tr>
                                        <td>¼-14</td>
                                        <td>150</td>
                                        <td>(17.0)</td>
                                    </tr>
                                    <tr>
                                        <td>¼-20</td>
                                        <td>156</td>
                                        <td>(17.6)</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="c-table__footer">
                                    <p>Table 4. Torsional Strength.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>