<main>
    <div class="sub-header type-01"
        style="background-image: url(&quot;assets/images/product-img-02.png?browsersync=1596078997594&quot;);">
        <div class="container">
            <div class="nav-sub-header">
                <ul>
                    <li><a href="#">PRE - ENGINEERED STEEL BUILDING</a></li>
                    <li><a href="#">STRUCTURAL BUILDING APPLICATION</a></li>
                </ul>
            </div>
        </div>
    </div>
    <section class="content-standard">
        <div class="container">
            <div class="block-01">
                <h2 class="line-bottom mt-5 mb-5 text-uppercase">pre - engineered steel building</h2>
                <div class="nav-tabs-01">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-01" role="tab"
                                aria-controls="nav-company" aria-selected="true">STANDARD FRAMING SYSTEMS</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-02" role="tab"
                                aria-controls="nav-project" aria-selected="false">SUB - STRUCTURAL SYSTEMS</a>
                            <a class="nav-item nav-link active show" data-toggle="tab" href="#nav-product-03" role="tab"
                                aria-controls="nav-newsletter" aria-selected="false">ROOF, WALL, DECKING PANEL</a>
                            <a class="nav-item nav-link" data-toggle="tab" href="#nav-product-04" role="tab"
                                aria-controls="nav-social" aria-selected="false">ACCESSORIES</a>
                        </div>
                    </nav>
                </div>
                <div class="row rwd">
                    <div class="col-4">
                        @@include('../sub-title.html', {"title": "SEAM"}')
                        <div class="c-menu">
                            <div class="c-item active">
                                <a href="#rwd-content-01">TOLE PH SEAM 485 MM</a>
                            </div>
                            <div class="c-item">
                                <a href="#rwd-content-02">TOLE PH SEAM 760 MM</a>
                            </div>
                            <div class="c-item">
                                <a href="#rwd-content-03">TOLE PH SEAM 1000 MM</a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-8 mb-5 seam d-flex align-items-center justify-content-center flex-column">
                        <img id="rwd-content-01" class="seam__item" src="@@url/images/seam-img-01.png" alt="seam 1">
                        <img id="rwd-content-02" class="seam__item" src="@@url/images/seam-img-02.png" alt="seam 1">
                        <img id="rwd-content-03" class="seam__item" src="@@url/images/seam-img-03.png" alt="seam 1">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>