<section class="service-fabrication">
    <div class="services-header">
        <div class="container">
            
                <div class="wrap">
                    <h1 class="text-center">SERVICES</h1>
                    <div class="line-head"></div>
                </div>
                <div class="wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-01.png" alt=""></p>
                            <span class="mt-3">DESIGN</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img erection-img--active">
                            <p><img src="@@url/images/erection-02.png" alt=""></p>
                            <span class="mt-3">FABRICATION</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-03.png" alt=""></p>
                            <span class="mt-3">ERECTION</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-04.png" alt=""></p>
                            <span class="mt-3">SAFETY</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="container service-content mb-5 mt-5 p-0">
        <div class="service-content__title">
            <p>fabrication</p>
        </div>
        <div class="service-content__list">
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "raw material", "link-img": "fabrication-img-01.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "tensile test", "link-img": "fabrication-img-02.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "cnc & hydraulic", "link-img": "fabrication-img-03.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "manual welding", "link-img": "fabrication-img-04.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "automatic welding", "link-img": "fabrication-img-05.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "hydraulic cuting machine", "link-img": "fabrication-img-06.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "making straight", "link-img": "fabrication-img-07.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "grinding", "link-img": "fabrication-img-08.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "nd testing", "link-img": "fabrication-img-09.png"})
            </div>
            <div class="service-content__item service-content__item--close-row">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "testing", "link-img": "fabrication-img-10.png"})
            </div>
            <div class="service-content__item service-content__item--close-row">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "painting", "link-img": "fabrication-img-11.png"})
            </div>
            <div class="service-content__item service-content__item--close-row">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "surface preparation", "link-img": "fabrication-img-12.png"})
            </div>
            <div class="service-content__item service-content__item--last-row">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "packing", "link-img": "fabrication-img-13.png"})
            </div>
            <div class="service-content__item service-content__item--last-row">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "delivery", "link-img": "fabrication-img-14.png"})
            </div>
        </div>
    </div>
</section>