<section class="services-erection services-certificates">
    <div class="services-header">
        <div class="container">
                <div class="wrap">
                    <h1 class="text-center">SERVICES</h1>
                    <div class="line-head"></div>
                </div>
                <div class="wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-01.png" alt=""></p>
                            <span class="mt-3">DESIGN</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-02.png" alt=""></p>
                            <span class="mt-3">FABRICATION</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-03.png" alt=""></p>
                            <span class="mt-3">ERECTION</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img erection-img--active">
                            <p><img src="@@url/images/erection-04.png" alt=""></p>
                            <span class="mt-3">SAFETY</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="services-content mb-5">
        <div class="container p-0">
            <div class="row mt-5">
                <div class="col-lg-3 col-md-12 col-sm-12 tab-content">SAFETY MANAGEMENT SYSTEM MODEL</div>
                <div class="col-lg-3 col-md-12 col-sm-12 tab-content">SITE</div>
                <div class="col-lg-3 col-md-12 col-sm-12 tab-content">VIDEO</div>
                <div class="col-lg-3 col-md-12 col-sm-12 tab-content active">CERTIFICATES</div>
            </div>
            <div class="col-12 services-certificates__title mt-4">
                <h1>TESTIMONIALS</h1>
                <div class="line-head"></div>
            </div>
            <div class="row services-certificates__row-1">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4 d-flex align-items-center justify-content-center">
                    <img src="@@url/images/services-certificates-img-1.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4 d-flex align-items-center justify-content-center">
                    <img src="@@url/images/services-certificates-img-2.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4 d-flex align-items-center justify-content-center">
                    <img src="@@url/images/services-certificates-img-3.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-4 d-flex align-items-center justify-content-center">
                    <img src="@@url/images/services-certificates-img-4.png" alt="">
                </div>
            </div>
        </div>
        <div class="services-certificates__line"></div>
        <div class="container p-0">
            <div class="row services-certificates__row-2">
                <div class="col-lg-4 col-md-12 col-sm-12 align-items-center d-flex justify-content-center mb-md-4 mb-sm-2">
                    <img class="" src="@@url/images/services-certificates-img-5.png" alt="">
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 align-items-center d-flex justify-content-center mb-md-4 mb-sm-2">
                    <img class="" src="@@url/images/services-certificates-img-6.png" alt="">
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 align-items-center d-flex justify-content-center">
                    <img class="" src="@@url/images/services-certificates-img-7.png" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>
</section>