<section class="service-fabrication service-erection service-design pb-5">
    <div class="services-header">
        <div class="container">
            <div class="wrap">
                <h1 class="text-center">SERVICES</h1>
                <div class="line-head"></div>
            </div>
            <div class="wrap">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 erection-img erection-img--active">
                        <p><img src="@@url/images/erection-01.png" alt=""></p>
                        <span class="mt-3">DESIGN</span>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                        <p><img src="@@url/images/erection-02.png" alt=""></p>
                        <span class="mt-3">FABRICATION</span>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                        <p><img src="@@url/images/erection-03.png" alt=""></p>
                        <span class="mt-3">ERECTION</span>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                        <p><img src="@@url/images/erection-04.png" alt=""></p>
                        <span class="mt-3">SAFETY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container service-content mb-5 mt-5 p-0">
        <div class="service-content__title">
            <p>design</p>
        </div>
        <div class="service-content__list">
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "concept design", "link-img": "service-design-img-01.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "proposal drawing", "link-img": "service-design-img-02.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "approval & shop drawing design", "link-img": "service-design-img-03.png"})
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class=" row middle-line"></div>    
    </div>
    <div class="container mb-5">
        <div class="col-12 pl-0">
            <h1 class="text-left">DESIGN CODE</h1>
            <div class="line-head ml-0"></div>
        </div>
        <nav class="nav-list mb-5">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-us"
                    role="tab" aria-controls="nav-us" aria-selected="true">US CODE</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-euro"
                    role="tab" aria-controls="nav-euro" aria-selected="false">EURO, BS CODE</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-local"
                    role="tab" aria-controls="nav-local" aria-selected="false">LOCAL CODE</a>
            </div>
        </nav>
        
        <div class="tab-content p-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-us" role="tabpanel"
                aria-labelledby="nav-home-tab">
                <div class="service-design__tab-list">
                    <div class="service-design__item">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-01.png", "text": "AISC 360-10"})
                    </div>
                    <div class="service-design__item">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-02.png", "text": "AISC 360-16"})
                    </div>
                    <div class="service-design__item">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-03.png", "text": "AISI S100-2007"})
                    </div>
                    <div class="service-design__item">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-04.png", "text": "ANSI C-2017"})
                    </div>
                    <div class="service-design__item">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-05.png", "text": "ASCE 7-10"})
                    </div>
                    <div class="service-design__item">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-06.png", "text": "ASCE 7-16"})
                    </div>
                    <div class="service-design__item">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-07.png", "text": "AWS2010"})
                    </div>
                    <div class="service-design__item">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-08.png", "text": "IBC-2012"})
                    </div>
                    <div class="service-design__item mb-0">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-09.png", "text": "MBMA-2012"})
                    </div>
                    <div class="service-design__item mb-0">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab01-10.png", "text": "UBC 1997"})
                    </div>
                    <div class="service-design__item mb-0 invisible d-none d-lg-block">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "", "text": ""})
                    </div>
                    <div class="service-design__item mb-0 invisible d-none d-lg-block">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "", "text": ""})
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-euro" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="service-design__tab-list">
                    <div class="service-design__item mb-0">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab02-01.png", "text": "BS 5950-2000"})
                    </div>
                    <div class="service-design__item mb-0">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab02-02.png", "text": "EUROCODE-3"})
                    </div>
                    <div class="service-design__item mb-0 invisible d-none d-lg-block">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "", "text": ""})
                    </div>
                    <div class="service-design__item mb-0 invisible d-none d-lg-block">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "", "text": ""})
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-local" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="service-design__tab-list">
                    <div class="service-design__item mb-0">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab03-01.png", "text": "NSCP-2015"})
                    </div>
                    <div class="service-design__item mb-0">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab03-02.png", "text": "TCVN 2737"})
                    </div>
                    <div class="service-design__item mb-0">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "design-tab03-03.png", "text": "TCVN-5575_2012"})
                    </div>
                    <div class="service-design__item mb-0 invisible d-none d-lg-block">
                        @@include("../c-design-item.html", {"url": "@@url", "link-img": "", "text": ""})
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>