<section class="service-fabrication service-erection pb-5">
    <div class="services-header">
        <div class="container">
                <div class="wrap">
                    <h1 class="text-center">SERVICES</h1>
                    <div class="line-head"></div>
                </div>
                <div class="wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-01.png" alt=""></p>
                            <span class="mt-3">DESIGN</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-02.png" alt=""></p>
                            <span class="mt-3">FABRICATION</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img erection-img--active">
                            <p><img src="@@url/images/erection-03.png" alt=""></p>
                            <span class="mt-3">ERECTION</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-04.png" alt=""></p>
                            <span class="mt-3">SAFETY</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container service-content mb-5 mt-5 p-0">
        <div class="service-content__title">
            <p>erection</p>
        </div>
        <div class="service-content__list">
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "setting up anchor bolt", "link-img": "service-erection-img-01.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "frame erection", "link-img": "service-erection-img-02.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "installation of panel & accessories", "link-img": "service-erection-img-03.png"})
            </div>
            <div class="service-content__item">
                @@include("../fabrication-item.html", {"url": "@@url", "title": "completion", "link-img": "service-erection-img-04.png"})
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class=" row middle-line"></div>    
    </div>
    <div class="container mb-5">
        <div class="row services-video">
            <div class="services-video__list">
                <div class="services-video__item">
                    <div class="services-video__title">LOREM IPSUM</div>
                    <div class="services-video__content">Quisque ligula tortor, rutrum at lacus nec, elementum mattis diam. Proin pretium orci nec sagittis consectetur. </div>
                    <div class="services-video__video">
                        <img src="@@url/images/services-safety-video.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>