<section class="services-erection">
    <div class="services-header">
        <div class="container">
                <div class="wrap">
                    <h1 class="text-center">SERVICES</h1>
                    <div class="line-head"></div>
                </div>
                <div class="wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-01.png" alt=""></p>
                            <span class="mt-3">DESIGN</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-02.png" alt=""></p>
                            <span class="mt-3">FABRICATION</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img">
                            <p><img src="@@url/images/erection-03.png" alt=""></p>
                            <span class="mt-3">ERECTION</span>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 erection-img erection-img--active">
                            <p><img src="@@url/images/erection-04.png" alt=""></p>
                            <span class="mt-3">SAFETY</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="services-content mb-5">
        <div class="container p-0">
            <div class="row mt-5">
                <div class="col-lg-3 col-md-12 col-sm-12 tab-content active">SAFETY MANAGEMENT SYSTEM MODEL</div>
                <div class="col-lg-3 col-md-12 col-sm-12 tab-content">SITE</div>
                <div class="col-lg-3 col-md-12 col-sm-12 tab-content">VIDEO</div>
                <div class="col-lg-3 col-md-12 col-sm-12 tab-content">CERTIFICATES</div>
            </div>
            <div class="row mt-4">
                <img src="@@url/images/service-safety-1.png" alt="">
            </div>
        </div>
    </div>
</section>